@charset "UTF-8";
/* Login */
.login_wrap { min-height: 100vh; }

.login_wrap label, .login_wrap button, .login_wrap .btn_join { font-weight: 500; font-size: 1.6rem; }

.login_wrap input, .login_wrap button { width: 100%; }

.login_wrap label { display: block; margin-bottom: 0.6rem; }

.login_wrap .btn_login { margin-bottom: 1.3rem; }

.login_wrap .btn_join { margin-bottom: 2.2rem; }

.login_wrap ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.login_wrap ul li { margin-right: 1rem; }

.login_wrap ul li:last-child { margin-right: 0; }

.login_wrap .id_area { margin-bottom: 1.6rem; }

.login_wrap .pw_area { margin-bottom: 2.6rem; }

.login_wrap .login_tit { font-size: 2.4rem; font-weight: 500; text-align: center; }

.login_wrap .login_tit img { display: block; width: 8.6rem; margin: 0 auto 1.2rem; }

/* Login End */
/* FindId */
.find_id_wrap p { margin-bottom: 10rem; font-size: 1.8rem; }

.find_id_wrap p span { display: block; }

.find_id_wrap p span:nth-of-type(1) { margin-bottom: 2rem; }

.find_id_wrap p span:nth-of-type(2) { margin-bottom: 2.6rem; font-size: 3rem; font-weight: 500; }

/* FindId End*/
/* FindPw */
.find_pw_wrap .input_area { margin-bottom: 6rem; }

/* FindPw End */
/* PwChangeDone, JoinDone */
.pw_change_done img, .join_done img { width: 8rem; margin-bottom: 3rem; }

.pw_change_done p:nth-of-type(1), .join_done p:nth-of-type(1) { margin-bottom: 1.4rem; font-weight: 700; font-size: 1.6rem; }

.pw_change_done p:nth-of-type(2), .join_done p:nth-of-type(2) { color: #AAA; }

/* PwChangeDone, JoinDone End */
/* JoinForm */
.join_wrap .join_form label { display: block; margin-bottom: .6rem; font-size: 1.6rem; font-weight: 500; }

.join_wrap .join_form div[class*=area] { margin-bottom: 1.6rem; }

.join_wrap .agree_list { margin-bottom: 5rem; }

.join_wrap .agree_list li { margin-bottom: .8rem; }

.join_wrap .agree_list input[type=checkbox] { margin-right: .6rem; }

/* Joinform End */
/* Home */
.home_wrap .account_wrap { margin-bottom: 1rem; }

.home_wrap .account { border-radius: 14px; background: -webkit-gradient(linear, left top, left bottom, from(#2CA5DF), to(#182987)); background: linear-gradient(#2CA5DF, #182987); color: #FFF; }

.home_wrap .account ul { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; }

.home_wrap .account ul::before { content: ''; display: block; position: absolute; left: .9rem; right: .9rem; top: 0; height: 1px; background-color: #2665AE; }

.home_wrap .account li { position: relative; width: 25%; font-size: 1.3rem; font-weight: 300; }

.home_wrap .account li::after { content: ''; display: block; position: absolute; top: 50%; right: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 1px; height: 1.4rem; background-color: #2665AE; }

.home_wrap .account li a { line-height: 4.2rem; text-align: center; }

.home_wrap .account li a::before { content: ''; display: inline-block; width: 1.3rem; height: 1.3rem; margin-right: .4rem; background: center/1.3rem auto no-repeat; vertical-align: -.2rem; }

.home_wrap .account li:nth-child(1) a::before { background-image: url("../img/ico_charge.svg"); }

.home_wrap .account li:nth-child(2) a::before { background-image: url("../img/ico_send.svg"); }

.home_wrap .account li:nth-child(3) a::before { background-image: url("../img/ico_receive.svg"); }

.home_wrap .account li:nth-child(4) a::before { background-image: url("../img/ico_report.svg"); }

.home_wrap .account_inner { position: relative; height: 11.5rem; padding: 1.3rem 1.7rem; }

.home_wrap .current_pay { position: absolute; right: 1.7rem; bottom: 1.3rem; font-size: 1.8rem; }

.home_wrap .current_pay b, .home_wrap .current_pay strong { font-weight: 700; }

.home_wrap .current_pay strong { font-size: 3.6rem; }

.home_wrap .notice { line-height: 3.6rem; font-size: 1.6rem; }

.home_wrap .notice a { position: relative; }

.home_wrap .notice a::before { content: ''; display: inline-block; width: 2rem; height: 2rem; margin-right: .9rem; background: url("../img/ico_speaker.svg") center/1.9rem auto no-repeat; vertical-align: -.4rem; }

.home_wrap .notice a::after { content: ''; display: inline-block; position: absolute; top: 50%; right: -.5rem; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 1.8rem; height: 1.8rem; background: url("../img/chevron_right.svg") center/0.8rem auto no-repeat; }

.home_wrap .notice mark { background-color: #FEFFB5; }

.home_wrap .simple_pay_log { left: 0; right: 0; top: 25.3rem; bottom: 6rem; }

.home_wrap .coin_wrap { overflow: auto; position: absolute; left: 0; right: 0; top: 25.3rem; bottom: 6rem; padding: 2rem 0; }

.home_wrap .coin_wrap img { width: 3rem; height: 3rem; margin-right: 1rem; }

.home_wrap .coin_wrap .coin { width: 100%; height: 6rem; padding-left: 1.4rem; }

.home_wrap .coin_wrap .inner { height: 3.2rem; }

.home_wrap .coin_wrap .inner span:first-child { margin-bottom: .4rem; font-weight: 700; }

.home_wrap .coin_wrap .chevron { display: block; width: 1.2rem; height: 1.2rem; margin-right: .5rem; background: url("../img/chevron_blk.svg") center/0.6rem auto no-repeat; }

.home_wrap .coin_wrap .chevron.on { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.home_wrap .coin_wrap .coin_list > li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 6rem; margin-bottom: 1rem; border-radius: 4px; -webkit-box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.1); box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.1); cursor: pointer; }

.home_wrap .coin_wrap .coin_list > li:last-child { margin-bottom: 0; }

.home_wrap .coin_wrap .coin_link img { display: block; width: 2rem; }

.home_wrap .coin_wrap .coin_link a { overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 0; height: 6rem; background-color: #2C6CDD; -webkit-transition: width .1s; transition: width .1s; font-weight: 300; font-size: 1.3rem; color: #FFF; }

.home_wrap .coin_wrap .coin_link li a::before { content: ''; display: block; width: 2rem; height: 2rem; margin-bottom: .6rem; background: url(../img/ico_coin_send.svg) center/contain no-repeat; }

.home_wrap .coin_wrap .coin_link li:nth-child(2) a::before { background-image: url(../img/ico_coin_qr.svg); }

.home_wrap .coin_wrap .coin_link li:nth-child(3) a { border-right: none; border-radius: 0 4px 4px 0; }

.home_wrap .coin_wrap .coin_link li:nth-child(3) a::before { background-image: url(../img/ico_coin_history.svg); }

.home_wrap .coin_wrap .coin_link.on a { width: 5rem; border-right: 1px solid #FFF; }

.home_wrap .btn_add_coin { position: fixed; width: 4rem; height: 4rem; border: 1px solid #2C6CDD; border-radius: 50%; background: url("../img/plus.svg") center/1.2rem auto no-repeat #FFF; right: 2rem; bottom: 8rem; z-index: 999; }

.home_wrap .shop_menu { overflow: auto; position: absolute; left: 0; right: 0; top: 25.3rem; bottom: 6rem; }

.home_wrap .shop_menu li { border-bottom: 1px solid #d0d0d0; }

.home_wrap .shop_menu li:last-child { border-bottom: none; }

.home_wrap .shop_menu li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; height: 5rem; padding-left: 5rem; padding-right: 2rem; }

.home_wrap .shop_menu li a::before { content: ''; display: block; position: absolute; left: 2rem; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 2.8rem; height: 2.8rem; background: url("../img/ico_coupon_drink.svg") center/contain no-repeat; }

.home_wrap .shop_menu li a::after { content: ''; display: block; position: absolute; right: 2rem; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 1.4rem; height: 1.4rem; background: url("../img/chevron_right.svg") right center/contain no-repeat; }

/* Home End */
/* Menu */
.menu_wrap nav { padding-top: 10rem; min-height: 100vh; }

.menu_wrap li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: left; -ms-flex-align: left; align-items: left; position: relative; padding: 0 2rem 0 5.5rem; height: 5.6rem; border-bottom: 1px solid #d0d0d0; font-size: 1.6rem; }

.menu_wrap li a::before { content: ''; display: block; position: absolute; top: 50%; left: 2rem; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 2.5rem; height: 3rem; background: center/contain no-repeat; }

.menu_wrap li a::after { content: ''; display: block; position: absolute; top: 50%; right: 2rem; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 3rem; height: 3rem; background: url("../img/chevron_right.svg") center right/0.8rem auto no-repeat; }

.menu_wrap li a span { margin-top: .8rem; font-size: 1.2rem; }

.menu_wrap li:nth-child(1) a::before { background-image: url("../img/ico_menu_notice.svg"); }

.menu_wrap li:nth-child(2) a::before { background-image: url("../img/ico_menu_version.svg"); }

.menu_wrap li:nth-child(3) a::before { background-image: url("../img/ico_menu_pw.svg"); background-size: 2rem auto; }

.menu_wrap li:nth-child(4) a::before { background-image: url("../img/ico_menu_call.svg"); background-size: 2rem auto; }

.menu_wrap li:nth-child(5) a::before { background-image: url("../img/ico_menu_bank.svg"); background-size: 2rem auto; }

.menu_wrap li:nth-child(6) a::before { background-image: url("../img/ico_menu_grade.svg"); }

.menu_wrap li:last-child a { border-bottom: none; }

/* Menu End */
/* NoticeList */
.notice_list_wrap { min-height: 100vh; padding-top: 10rem; padding-bottom: 0; }

.notice_list_wrap li a { position: relative; padding: 1rem 2rem; border-bottom: 1px solid #d0d0d0; }

.notice_list_wrap li a::after { content: ''; display: block; width: 3rem; height: 3rem; position: absolute; right: 2rem; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: url("../img/chevron_right.svg") right center/0.8rem auto no-repeat; }

.notice_list_wrap li p:first-child { margin-bottom: 1rem; }

.notice_list_wrap li b { margin-right: 2rem; color: #2C6CDD; }

.notice_list_wrap li:last-child a { border-bottom: none; }

/* NoticeList End */
/* Notice */
.notice_wrap .ctt_tit { padding: 1rem 0; border-bottom: 1px solid #d0d0d0; }

.notice_wrap .ctt_tit p:first-child { margin-bottom: 1rem; }

.notice_wrap .ctt_tit b { margin-right: 2rem; color: #2C6CDD; }

.notice_wrap .content { line-height: 1.8rem; padding: 1rem 0; }

.notice_wrap .content p { margin-bottom: 1rem; }

/* Notice End */
/* Version */
.version_wrap .inner img { margin-bottom: 2rem; }

.version_wrap .inner p { margin-bottom: 1rem; text-align: center; }

.version_wrap .inner p:last-child { margin-bottom: 0; }

/* Version End */
/* PwChange */
.pw_change_wrap .pw_change_form div[class*=area] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 1.6rem; }

.pw_change_wrap .pw_change_form div[class*=area]:last-of-type { margin-bottom: 0; }

.pw_change_wrap .pw_change_form label { margin-bottom: .6rem; font-size: 1.6rem; font-weight: 500; }

.pw_change_wrap .pw_change_form .btn_pw_change { margin-top: 5rem; }

/* PwChange End */
/* Charge */
.charge_wrap { min-height: 100vh; padding-top: 5rem; padding-bottom: 6rem; }

.charge_wrap ul { margin-bottom: 4.2rem; }

.charge_wrap .input_area { position: relative; margin-bottom: 4.2rem; }

/* Charge End*/
/* SendMoney */
.send_money_wrap { min-height: 100vh; padding-top: 14rem; padding-bottom: 10rem; }

.send_money_wrap .tab_content { width: 100%; }

.send_money_wrap .tab_content:first-child ~ .tab_content { display: none; }

.send_money_wrap .tab_content label { margin-bottom: .2rem; font-weight: 700; }

.send_money_wrap .input_area { position: relative; margin-bottom: 1rem; }

.send_money_wrap .input_area:last-of-type { margin-bottom: 5rem; }

.send_money_wrap .account { position: relative; margin: 2rem 0 3rem; }

.send_money_wrap .account p { margin-bottom: 1rem; }

.send_money_wrap .account > a { position: absolute; top: 0; right: 0; font-size: 1.3rem; }

.send_money_wrap .account table { width: 100%; }

.send_money_wrap .account tr:last-child td { border-bottom: none; }

.send_money_wrap .account td { width: 33.33333%; padding: 1rem 0; text-align: center; border-bottom: 1px solid #d0d0d0; }

.send_money_wrap .account .table_wrap { overflow: auto; max-height: 9rem; }

.send_money_wrap .simple_pay_log { left: 0; right: 0; top: 10rem; bottom: 6rem; }

/* SendMoney End */
/* ReceiveQrcode */
.qrcode_wrap { min-height: 100vh; padding-top: 5rem; padding-bottom: 6rem; }

.qrcode_wrap .qrcode { margin-bottom: 6rem; }

.qrcode_wrap .qrcode img { width: 20rem; margin-bottom: 1rem; }

.qrcode_wrap .qrcode p { word-break: break-all; }

.qrcode_wrap .btns { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.qrcode_wrap .btns a { width: 44%; }

/* ReceiveQrcode End */
/* History */
.pay_history_wrap { min-height: 100vh; padding-top: 10rem; padding-bottom: 6rem; }

.pay_history_wrap + #modalBottom { display: none; }

.pay_history_wrap .simple_pay_log { left: 0; right: 0; top: 10rem; bottom: 6rem; }

/* History End */
/* AddBank */
.add_bank_wrap .input_area { margin-bottom: 6rem; }

/* AddBank End */
/* MyBankList */
.bank_list_wrap .bank_list p { margin-bottom: 1rem; }

.bank_list_wrap .bank_list table { width: 100%; }

.bank_list_wrap .bank_list tr:last-child td { border-bottom: none; }

.bank_list_wrap .bank_list td { width: 33.33333%; padding: 1rem 0; text-align: center; border-bottom: 1px solid #d0d0d0; }

.bank_list_wrap .bank_list + p { margin-bottom: 1.4rem; }

.bank_list_wrap .table_wrap { overflow: auto; max-height: 12rem; margin-bottom: 6rem; }

.bank_list_wrap .agree_list { margin-bottom: 5rem; }

.bank_list_wrap .agree_list li { margin-bottom: .8rem; }

.bank_list_wrap .agree_list input[type=checkbox] { margin-right: .6rem; }

/* MyBankList End*/
/* SimpleAddr */
.simple_addr_wrap label { font-weight: 700; }

.simple_addr_wrap .input_area { margin-bottom: 1rem; }

.simple_addr_wrap .simple_addr_info { margin: 2rem 0 4rem; }

.simple_addr_wrap .simple_addr_info p { margin-bottom: .6rem; line-height: 1.6rem; }

/* SimpleAddr End */
/* 충전확인&완료, 송금확인&완료 */
.chk_wrap .inner, .done_wrap .inner { margin-bottom: 6rem; text-align: center; }

.chk_wrap .inner img, .done_wrap .inner img { width: 6rem; margin-bottom: 1.4rem; }

.chk_wrap .inner p:first-of-type, .done_wrap .inner p:first-of-type { margin-bottom: 3rem; font-size: 2.8rem; }

.chk_wrap .inner p:first-of-type small, .done_wrap .inner p:first-of-type small { margin-left: .2rem; font-size: 2rem; }

.chk_wrap .inner p:nth-of-type(2), .done_wrap .inner p:nth-of-type(2) { line-height: 2.6rem; font-size: 1.8rem; }

.chk_wrap .inner p:nth-of-type(2) small, .done_wrap .inner p:nth-of-type(2) small { font-size: 1.6rem; }

.chk_wrap .send_chk, .done_wrap .send_chk { margin-bottom: .2rem; }

.chk_wrap .send_chk .alert_msg, .done_wrap .send_chk .alert_msg { margin-bottom: 1rem; }

.chk_wrap .send_chk p, .done_wrap .send_chk p { line-height: 2rem; }

.chk_wrap .info, .done_wrap .info { border-top: 1px solid #2C6CDD; }

.chk_wrap .info p, .done_wrap .info p { line-height: 2rem; }

.chk_wrap span:first-child, .done_wrap span:first-child { font-weight: 500; }

.chk_wrap a[class*=btn], .done_wrap a[class*=btn] { margin-top: 4rem; }

.chk_wrap .btns a, .done_wrap .btns a { width: 45%; }

/* 충전확인&완료, 송금확인&완료 끝 */
/* CoinSend */
.coin_send_wrap label { font-weight: 700; }

.coin_send_wrap .select_area { margin-bottom: 1rem; }

.coin_send_wrap .input_area { margin-bottom: 1rem; }

.coin_send_wrap .selected_coin img { width: 3rem; margin-right: 1rem; }

.coin_send_wrap .txt_wrap { margin-bottom: 1rem; }

.coin_send_wrap .tab_wrap { margin-bottom: 2rem; }

.coin_send_wrap .tab_menu li:first-child { margin-right: 1rem; }

.coin_send_wrap .tab_menu li.on a { color: #000; }

.coin_send_wrap .tab_menu li a { margin-bottom: 1rem; font-weight: 700; color: #AAA; }

.coin_send_wrap .table_wrap { overflow: auto; max-height: 13.3rem; }

.coin_send_wrap .table_wrap:nth-child(n+2) { display: none; }

.coin_send_wrap .table_wrap table { width: 100%; }

.coin_send_wrap .table_wrap tr:last-child td { border-bottom: none; }

.coin_send_wrap .table_wrap td { width: auto; padding: 1rem 0; text-align: left; border-bottom: 1px solid #d0d0d0; }

.coin_send_wrap .table_wrap p:first-child { margin-bottom: .6rem; }

/* CoinSend End */
/* CoinAdd */
.coin_list_tit { padding: 2rem 0 1rem; }

.coin_add_wrap { min-height: 100vh; padding-top: 10rem; padding-bottom: 0; }

.coin_add_wrap .coin_list { overflow: auto; height: calc(100vh - 10rem); }

.coin_add_wrap .coin_list a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 4rem; border-bottom: 1px solid #d0d0d0; }

.coin_add_wrap .coin_list a img { width: 3rem; margin-right: .6rem; }

.coin_add_wrap #modalPop .modal_body { padding: 2rem 1rem; }

.coin_add_wrap #modalPop .modal_body p { margin-bottom: 2rem; font-size: 1.6rem; font-weight: 700; }

.coin_add_wrap #modalPop .modal_body p:first-child { margin-bottom: 1rem; }

.coin_add_wrap #modalPop .modal_body p:nth-child(2) { font-size: 1.5rem; }

.coin_add_wrap #modalPop .modal_body p small { font-size: 1.2rem; font-weight: 400; }

.coin_add_wrap .progress_bar { height: 1rem; border-radius: .5rem; background: #efefef; }

.coin_add_wrap .progress { width: 25%; height: 100%; border-radius: .5rem; background: #2C6CDD; }

/* CoinAdd End */
/* CoinHistory */
.coin_history_wrap { min-height: 100vh; padding-top: 10rem; padding-bottom: 0; }

.coin_trade_log { overflow: auto; position: absolute; left: 0; right: 0; top: 10rem; bottom: 0; }

.coin_trade_log table { width: 160%; }

.coin_trade_log th, .coin_trade_log td { border-right: 1px solid #FFF; padding: 1rem 0; line-height: 1.6rem; text-align: center; }

.coin_trade_log th:last-of-type, .coin_trade_log td:last-of-type { border-right: none; }

.coin_trade_log td { vertical-align: middle; }

.coin_trade_log thead th { background-color: #2C6CDD; color: #FFF; }

.coin_trade_log tbody tr:nth-of-type(2n+1) th, .coin_trade_log tbody tr:nth-of-type(2n+1) td { background-color: #efefef; }

.coin_trade_log thead tr { position: -webkit-sticky; position: sticky; top: 0; }

/* CoinHistory End*/
/* UserGrade */
.grade_tab { margin: 2rem 0 1rem; }

.grade_wrap .tab_cont { border-bottom: 2px solid #d0d0d0; }

.grade_wrap .box { margin-bottom: 1rem; }

.grade_wrap .box:nth-child(2) span:first-child { width: 50%; }

.grade_wrap .box:last-child { margin-bottom: 2rem; }

.grade_wrap .box ul { padding: 0 1rem; }

.grade_wrap .box li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.grade_wrap .box p { padding-left: 1.2rem; line-height: 3rem; font-weight: 700; font-size: 1.5rem; }

.grade_wrap table { width: 100%; }

.grade_wrap h3 { margin: 2rem 0 1rem; font-weight: 700; font-size: 1.5rem; }

.grade_wrap th, .grade_wrap td { padding: .6rem 0; line-height: 2rem; text-align: center; vertical-align: middle; }

.grade_wrap th { border-right: 1px solid #FFF; background-color: #2C6CDD; color: #FFF; }

.grade_wrap tr:first-child td { border-top: none; }

.grade_wrap td { border: 1px solid #d0d0d0; }

.grade_wrap td:first-child { background: #EEE; }

/* UserGrade End */
/* CouponShop */
/* CouponShop End */
/* CouponMenu */
.coupon_wrap { min-height: 100vh; padding-top: 14rem; padding-bottom: 0; }

.coupon_wrap .coupon_menu ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: 2rem 0; }

.coupon_wrap .coupon_menu li { width: 50%; }

.coupon_wrap .coupon_menu img { width: 3rem; margin-right: .6rem; }

.coupon_wrap .coupon_menu a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

/* CouponMenu End */
/* CouponProductList */
.product_list { padding: 2rem; }

.product_list ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; gap: 3rem 0; }

.product_list li { width: calc(50% - 1rem); }

.product_list b { font-weight: 700; }

.product_list small { font-size: 1.2rem; }

.product_list b { font-size: 1.5rem; color: #2C6CDD; }

/* CouponProductList End */
/* CouponProductDetail */
.product_detail_wrap { background-color: #D3D3E0; }

.product_detail section { background: #FFF; }

.product_detail section:nth-of-type(2) { padding-top: 4rem; }

.product_detail .order { padding: 2rem; padding-bottom: 3rem; margin-bottom: 1rem; }

.product_detail table { margin-bottom: 1rem; width: 100%; }

.product_detail table + p { margin-bottom: 4rem; padding: 0 .6rem; line-height: 2rem; font-size: 1.5rem; }

.product_detail th, .product_detail td { padding: 1rem .6rem; }

.product_detail th { text-align: left; font-weight: 500; vertical-align: middle; }

.product_detail td { text-align: right; font-size: 1.3rem; }

.product_detail .btns a { width: 48%; line-height: 3.4rem; }

.product_detail .total b { font-size: 1.8rem; }

.product_detail .quantity input[type=number] { width: 2.4rem; height: 2.4rem; border-top: 1px solid #d0d0d0; border-bottom: 1px solid #d0d0d0; border-radius: 0; text-align: center; }

.product_detail .quantity a { position: relative; width: 2.4rem; height: 2.4rem; line-height: 2.4rem; border: 1px solid #d0d0d0; background-color: #fff; text-align: center; font-size: 1.8rem; }

.product_detail .quantity a:first-of-type::before { content: ''; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); height: 1px; width: 1rem; background-color: #000; }

.product_detail .quantity a:last-of-type::before { content: ''; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); height: 1px; width: 1rem; background-color: #000; }

.product_detail .quantity a:last-of-type::after { content: ''; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); height: 1rem; width: 1px; background-color: #000; }

.order_info .info { padding-top: .6rem; }

.order_info p { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 1rem; }

.order_info p b { font-size: 1.5rem; }

.order_info p small { font-size: 1.3rem; }

.order_info .btns a { width: 45%; }

.order_info .modal_body { margin-bottom: 3rem; }

.order_info .input_area { margin: 1rem 0; }

.order_info label { display: inline-block; margin-bottom: .4rem; font-size: 1.5rem; }

.order_info input { width: 100%; border-bottom: 1px solid #2C6CDD; border-radius: 0; padding: .4rem; }

/* CouponProductDetail End */
/* CouponHistory */
.date_select_wrap .date_select { margin-bottom: 1rem; }

.coupon_history_wrap { min-height: 100vh; padding-top: 17rem; padding-bottom: 0; }

.coupon_history_wrap .coupon_log { left: 0; right: 0; top: 17rem; bottom: 0; overflow: auto; position: absolute; padding: 1.6rem 2rem; background: #fcfcfc; }

.coupon_history_wrap .coupon_log li { margin-bottom: 1rem; padding: 0 2rem; border-radius: .4rem; background: #FFF; -webkit-box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.1); box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.1); }

.coupon_history_wrap .coupon_log li:last-child { margin-bottom: 0; border-bottom: none; }

.coupon_history_wrap .coupon_log li div:first-of-type { padding: 1rem 0 .4rem; border-bottom: 1px dashed #d0d0d0; }

.coupon_history_wrap .coupon_log li div:first-of-type b { margin-right: 2rem; }

.coupon_history_wrap .coupon_log li div:last-of-type { padding: .4rem 0 1rem; }

.coupon_history_wrap .coupon_log li div:last-of-type p { font-size: 1.3rem; }

.coupon_history_wrap .coupon_log li p { line-height: 2.4rem; }

.coupon_history_wrap .coupon_log .quantity { margin-right: 2rem; }

.coupon_history_wrap .coupon_log .trade_time { font-size: 1.2rem; letter-spacing: -.05em; }

.coupon_history_wrap .coupon_log a { padding: 0 1rem; border-radius: 1rem; background-color: #2C6CDD; -webkit-box-shadow: 1px 1px 2px 0 rgba(43, 43, 73, 0.5); box-shadow: 1px 1px 2px 0 rgba(43, 43, 73, 0.5); line-height: 2rem; font-size: 1.2rem; font-weight: 300; color: #FFF; }

.coupon_history_wrap .coupon_log strong { font-size: 1.6rem; }

/* CouponHistory End */
/* Responsive */
@media (min-width: 768px) { html { font-size: 14px; }
  ul.list-style li::before { width: 4px; height: 4px; }
  .select_box { border-bottom-width: 2px; }
  .coin_trade_log table { width: 100%; }
  /* CouponProductDetail */
  .order { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; gap: 1rem; }
  .order > div { width: calc(50% - 1rem); }
  .order_info .modal_body { margin-bottom: 4rem; }
  .order_info p { margin-bottom: 2rem !important; }
  /* 충전확인&완료, 송금확인&완료 */
  .chk_wrap .info, .done_wrap .info { border-top: 2px solid #2C6CDD; }
  /* CouponHistory */
  .date_select_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .date_select_wrap .select_box { margin-right: 1rem; }
  .date_select_wrap .date_select { margin-bottom: 0; }
  .coupon_history_wrap { min-height: 100vh; padding-top: 14rem; padding-bottom: 0; }
  .coupon_history_wrap .coupon_log { left: 0; right: 0; top: 14rem; bottom: 0; }
  /* 수량버튼 */
  .quantity a::before { height: 2px !important; }
  .quantity a::after { width: 2px !important; } }

@media (min-width: 1024px) { body { background-color: #333; }
  #wrapper { max-width: 768px; margin: 0 auto; background-color: #fff; }
  .header { width: 768px; left: auto; right: auto; }
  #modalBottom { position: absolute; }
  #fnb { left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 768px; }
  #modalPop { position: absolute; }
  .home_wrap #fnb, .home_wrap .btn_add_coin { position: absolute; }
  .coin_trade_log table { width: 100%; } }

/* Responsive End */
/*# sourceMappingURL=main.css.map */