.login_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-height: 100vh; }

.login_wrap label, .login_wrap button { font-weight: 700; font-size: 1.6rem; }

.login_wrap input, .login_wrap button { width: 100%; }

.login_wrap label { display: block; margin-bottom: 0.6rem; }

.login_wrap button[type=submit] { line-height: 4.4rem; text-align: center; background-color: #2C6CDD; color: #fff; margin-bottom: 1.3rem; }

.login_wrap button[type=button] { border: 1px solid #d0d0d0; line-height: 4.4rem; text-align: center; margin-bottom: 2.2rem; }

.login_wrap ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.login_wrap ul li { margin-right: 1rem; font-size: 1.6rem; }

.login_wrap ul li:last-child { margin-right: 0; }

.login_wrap .login_form .id_area { margin-bottom: 1.6rem; }

.login_wrap .login_form .pw_area { margin-bottom: 2.6rem; }

.login_wrap .login_tit { font-size: 2.4rem; font-weight: 700; text-align: center; }

.login_wrap .login_tit img { display: block; width: 8.6rem; margin: 0 auto 1.2rem; }

.home_wrap #header .header_inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 5rem; }

.home_wrap #header .header_inner h1 { width: 7.6rem; height: 3rem; background: url("../img/header_logo.svg") center/100% auto no-repeat; }

.home_wrap #header .header_inner .btn_gnb { width: 3rem; height: 3.6rem; background: url("../img/btn_gnb.svg") center right/1.8rem 1.2rem no-repeat; }

.home_wrap .account_wrap { margin-bottom: 1rem; }

.home_wrap .account_wrap .account { border-radius: 14px; background: -webkit-gradient(linear, left top, left bottom, from(#2CA5DF), to(#182987)); background: linear-gradient(#2CA5DF, #182987); color: #FFF; }

.home_wrap .account_wrap .account .account_inner { position: relative; height: 11.5rem; padding: 1.3rem 1.7rem; }

.home_wrap .account_wrap .account .account_inner .current_pay { position: absolute; right: 1.7rem; bottom: 1.3rem; font-size: 1.8rem; }

.home_wrap .account_wrap .account .account_inner .current_pay strong { font-size: 3.6rem; }

.home_wrap .account_wrap .account ul { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; }

.home_wrap .account_wrap .account ul::before { content: ''; display: block; position: absolute; left: .9rem; right: .9rem; top: 0; height: 1px; background-color: #2665AE; }

.home_wrap .account_wrap .account ul li { position: relative; width: 25%; }

.home_wrap .account_wrap .account ul li::after { content: ''; display: block; position: absolute; top: 50%; right: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 1px; height: 1.4rem; background-color: #2665AE; }

.home_wrap .account_wrap .account ul li a { line-height: 4.2rem; text-align: center; }

.home_wrap .account_wrap .account ul li a::before { content: ''; display: inline-block; width: 1.3rem; height: 1.3rem; margin-right: .4rem; background: center/1.3rem auto no-repeat; vertical-align: -.2rem; }

.home_wrap .account_wrap .account ul li:nth-child(1) a::before { background-image: url("../img/ico_charge.svg"); }

.home_wrap .account_wrap .account ul li:nth-child(2) a::before { background-image: url("../img/ico_send.svg"); }

.home_wrap .account_wrap .account ul li:nth-child(3) a::before { background-image: url("../img/ico_receive.svg"); }

.home_wrap .account_wrap .account ul li:nth-child(4) a::before { background-image: url("../img/ico_report.svg"); }

.home_wrap .notice_wrap .notice { line-height: 3.6rem; font-size: 1.6rem; }

.home_wrap .notice_wrap .notice a { position: relative; }

.home_wrap .notice_wrap .notice a mark { background-color: #FEFFB5; }

.home_wrap .notice_wrap .notice a::before { content: ''; display: inline-block; width: 2rem; height: 2rem; margin-right: .9rem; background: url("../img/ico_speaker.svg") center/1.9rem auto no-repeat; vertical-align: -.4rem; }

.home_wrap .notice_wrap .notice a::after { content: ''; display: inline-block; position: absolute; top: 50%; right: -.5rem; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 1.8rem; height: 1.8rem; background: url("../img/chevron_right.svg") center/0.8rem auto no-repeat; }

.home_wrap .trade_log_wrap { overflow: auto; position: absolute; left: 0; right: 0; top: 25.3rem; bottom: 6rem; -webkit-box-shadow: 0 6px 6px 0px inset rgba(0, 0, 0, 0.1); box-shadow: 0 6px 6px 0px inset rgba(0, 0, 0, 0.1); }

.home_wrap .trade_log_wrap li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: 6.6rem; padding: 1rem 2rem; border-bottom: 1px solid #d0d0d0; }

.home_wrap .trade_log_wrap li a .log_top, .home_wrap .trade_log_wrap li a .log_btm { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.home_wrap .trade_log_wrap li a .log_top .trade_state { color: #2C6CDD; }

.home_wrap .trade_log_wrap li a .log_btm { font-size: 1.6rem; font-weight: 700; }

.home_wrap .trade_log_wrap li a .log_btm .trade_money.send { color: #FF4444; }

.home_wrap .trade_log_wrap li a .log_btm .trade_money.charge { color: #4642FF; }

.home_wrap .trade_log_wrap li:last-child a { border-bottom: none; }

.home_wrap #fnb { position: fixed; left: 0; right: 0; bottom: 0; -webkit-box-shadow: 0 -6px 6px 0px rgba(0, 0, 0, 0.1); box-shadow: 0 -6px 6px 0px rgba(0, 0, 0, 0.1); background-color: #fff; }

.home_wrap #fnb ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.home_wrap #fnb ul li { width: 20%; }

.home_wrap #fnb ul li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 6rem; }

.home_wrap #fnb ul li a::before { content: ''; display: block; width: 2.6rem; height: 2.6rem; margin-bottom: .3rem; background: center/contain no-repeat; }

.home_wrap #fnb ul li:nth-child(1) a::before { background-image: url("../img/ico_fnb_home.svg"); }

.home_wrap #fnb ul li:nth-child(2) a::before { background-image: url("../img/ico_fnb_charge.svg"); }

.home_wrap #fnb ul li:nth-child(3) a::before { background-image: url("../img/ico_fnb_send.svg"); }

.home_wrap #fnb ul li:nth-child(4) a::before { background-image: url("../img/ico_fnb_qr.svg"); }

.home_wrap #fnb ul li:nth-child(5) a::before { background-image: url("../img/ico_fnb_report.svg"); }

@media (min-width: 600px) { html { font-size: 14px; } }

@media (min-width: 900px) { html { font-size: 16px; } }

@media (min-width: 1200px) { html { font-size: 14px; }
  body { background-color: #555; }
  #wrapper { max-width: 768px; margin: 0 auto; background-color: #fff; }
  .home_wrap #fnb { position: absolute; } }
/*# sourceMappingURL=main.css.map */