/* reset.css */


ul,
li,
p {
  margin: 0;
  padding: 0;
  color: aliceblue;
  ;
}

body {
  font-family: 'Noto Sans KR', sans-serif !important;
  width: 720px;
  margin: 0 auto;
  padding: 0;
  font-size: 2rem;
  color: aliceblue;
}
.w3-card {
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.lt {
  float: left;
}

.container {
  width: 720px;
  display: block;
}

/********************password********************  */
.password-color {
  color: aliceblue;
  text-align: center;
}

.password-tt {
  font-size: 2.3rem;
  width: 100%;
  text-align: center;
  padding-top: 250px;
}
.password-cc{padding: 0 2rem;}

.password-cc {
  width: 100%;
  margin: 0 auto;
}

.cc {
  /* width: 50%; */
  margin: 0 auto;
}

.password-cc ul {
  width: 100%;
  padding-top: 150px;
}

.password-cc ul li {
  font-size: 2rem;
  padding: 15px;
}

.keypad-wrap {
  width: 100%;
  font-size: 3rem;
  padding-top: 100px;
  text-align: center
}

.keypad {
  width: 90%;
  margin: 0 auto;
}

.keypad ul li {
  padding: 50px 90px;
}
.password-color li {
  display: inline-block;
}
/**************************menu**********************************/
.top-wrap {
  font-size: 2rem;
  padding-top: 10px;
  height: 100px;
  line-height: 100px;
}

.back {
  position: absolute;
  font-size: 2.5rem;
  top: 45px;
  left: 30px;
}

.toptt {
  font-size: 2.8rem;
  text-align: center;
}
.menu-wrap {
  padding-top: 100px;
}
.menu {
  background-color: rgba(299, 299, 299, 0.1);
  padding: 20px;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 2.2rem;
  position: relative;
}

.m li {
  height: 60px;
  line-height: 60px;
}

label.bb:before {
  content: "\f204";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3rem;
  margin-right: 10px;
  color: aliceblue;
  position: absolute;
  top: 23px;
  right: 15px;
}

input#aa:checked+label.bb:before {
  content: "\f205";
  color: #debb84;
}

input#aa {
  display: none;
}

label.ee:before {
  content: "\f204";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3rem;
  margin-right: 10px;
  color: aliceblue;
  position: absolute;
  top: 80px;
  right: 15px;
}

input#dd:checked+label.ee:before {
  content: "\f205";
  color: #debb84;
}

input#dd {
  display: none;
}

/******************notice_list*********************  */
.list-wrap {
  width: 95%;
  margin: 0 auto;
  border-top: 2px solid aliceblue;
  padding-top: 100px;
}

.c {
  border-bottom: 1px solid rgb(190, 190, 190);
  position: relative;
  padding: 25px 0;
  padding-left: 10px;
}

.tt-wrap .tt-1 {
  font-weight: 600;
  color: #debb84;
}

.tt-wrap .tt-2 {
  padding-left: 10px;
  color: aliceblue;
}

.date {
  color: aliceblue;
  padding-top: 15px;
}

.bt {
  position: absolute;
  font-size: 1.8rem;
  color: aliceblue;
  top: 55px;
  right: 20px;
}

/******************notice_detail*********************  */
.notice-wrap {
  width: 95%;
  margin: 0 auto;
  padding-top: 100px;
}

.notice-cnt {
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  color: aliceblue;
}

.stt {
  font-size: 2.2rem;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: 500;
}

.text-1 {
  font-size: 1.85rem;
  font-weight: 300;
}

.text-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-2 ul {
  font-size: 2.3rem;
  font-weight: bold;
  color: #debb84;
}

.text-2 ul li {
  font-size: 2rem;
  font-weight: 300;
}

.text-3 {
  padding-bottom: 30px;
  font-weight: 300;
}

.text-4 {
  font-weight: 300;
}

/***********************version ***************************** */
.close {
  position: absolute;
  font-size: 2.5rem;
  top: 45px;
  right: 30px;
}

.toptt-left {
  font-size: 2.8rem;
  padding-left: 20px;
}

.version-cnt {
  padding-top: 500px;
  width: 100%;
}

.version-cnt .playstore {
  margin: 0 auto;
  width: 100px;
}

.playstore-text {
  text-align: center;
  padding-top: 40px;
  color: aliceblue;
}

.playstore-text:nth-child(3) {
  padding-top: 10px;
}

/**************backup **************** */
.backup-wrap {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}

.backup-box {
  border-radius: 10px;
  background-color: rgba(299, 299, 299, 0.1);
  margin-top: 40px;
  color: aliceblue;
}

.backup-stt {
  text-align: center;
  font-size: 2.3rem;
  padding-top: 20px;
}

.backup-icon {
  width: 390px;
  margin: 0 auto;
  padding-top: 40px;
}

.backup-icon i {
  padding: 25px;
}

.backup-next {
  padding: 20px;
  padding-left: 560px;
  font-size: 2.2rem;
}

.backup-detail-wrap {
  width: 93%;
  margin: 0 auto;
  padding-top: 100px;
}

.backup-stt-1 {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: aliceblue;
}

.backup-stt-1 i {
  color: #debb84;
  padding-top: 7px;
  padding-right: 15px;
  font-size: 2.5rem;
}

.backup-text-1 {
  font-size: 1.7rem;
  font-weight: 300;
  padding-bottom: 20px;
}

.backup-cnt-1 input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 2rem;
  border: none;
  border-bottom: 2px solid #999;
  outline: none;
  background-color: transparent;
  color: aliceblue;
}

.backup-cnt-2 {
  background-color: rgba(299, 299, 299, 0.1);
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px;
}

.backup-stt-2 {
  text-align: center;
  color: #debb84;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 25px;
}

.backup-text-1 {
  font-size: 1.7rem;
  font-weight: 200;
}

.check {
  position: relative;
}

.check input[type="checkbox"] {
  width: 30px;
  height: 30px;
  margin: 20px 10px;
}

.check p {
  position: absolute;
  top: 17px;
  left: 50px;
  font-size: 1.7rem;
}

.next {
  text-align: center;
  height: 80px;
  width: 100%;
  line-height: 80px;
  border-radius: 10px;
}

/* *****************promotion************************ */
.promotion-wrap {
  width: 720px;
  padding-top: 100px;
}
.promotion-cnt {
  width: 93%;
  margin: 0 auto;
  border-top: 1px solid aliceblue;
  border-bottom: 1px solid aliceblue;
  margin-top: 25px;
  height: 70px;
  line-height: 70px;
  position: relative;
}

.promotion-cnt .pen {
  padding-top: 20px;
  color: aliceblue;
}

#code {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  height: 68px;
  border: none;
  font-size: 2rem;
  width: 650px;
  outline: none;
  background-color: transparent;
  color: aliceblue;
}

.promotion-button {
  width: 720px;
  position: fixed;
  bottom: 0;
}

.cc a {
  width: 30%;
  background-color: rgb(231, 231, 231);
  text-align: center;
  height: 80px;
  line-height: 80px;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1.8rem;
  color: #333;
}

.ap a {
  width: 63%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.8rem;
}
/*******************history********************  */
.box-gradient{background: black; background-color: #444;background-image: linear-gradient(140deg, #444, #252525);}
.history-wrap {
  padding-top: 100px;
}
.balance-box {
  color: aliceblue;
  border-radius: 20px;
  position: fixed;
  width: 660px;
  top: 110px;
  margin-left: 30px;
}
.gold-tt {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  color: #debb84;
  padding-top: 30px;
  /* font-style: italic; */
}
.balance-wrap {
  margin: 0 auto;
  width: 410px;
  padding-bottom: 40px;
}
.balance {
  font-size: 4.2rem;
  font-weight: bold;
}
.ns {
  font-size: 1.5rem;
  padding-top: 45px;
  padding-left: 385px;
}
.input-box {
  width: 660px;
  margin: 0 auto;
  padding-top: 250px;
  position: fixed;
  margin-left: 30px;
}
.drop-box {
  width: 30%;
/*   padding-left: 15px; */
}
.wdith-set {
  width: 720px;
}
.drop-box select {
  background-color: aliceblue;
  color: #333;
  border-radius: 13px;
  font-size: 1.7rem;
  height: 50px;
  line-height: 50px;
  width: 100%;
  padding-left: 10px;
  outline: none;
}
.datepick {
  width: 65%;
  padding-left: 10px;
  background-color: aliceblue;
  color: #333;
  border-radius: 13px;
  height: 50px;
  margin-left: 20px;
}
.wave {
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
}
.datepick input {
  width: 45%;
  background-color: transparent;
  color: #333;
  font-size: 1.5rem;
  outline: none;
  border: none;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.history-list-wrap {
 margin: 2rem;
 background-color: rgba(299, 299, 299, 0.1);
 border-radius: 20px;
 padding: 20px;
 margin-top: 420px;
 position: fixed;
 width: 660px;
 overflow: hidden;
 height: 750px;
 -ms-overflow-style: none;
}
::-webkit-scrollbar{ display:none; }

.history-list-wrap2 {
  margin: 2rem;
  background-color: rgba(299, 299, 299, 0.1);
  border-radius: 20px;
  padding: 20px;
  margin-top: 460px;
  overflow: hidden;
 }
/* index -거래내역 추가 */
.mgtop-set {margin-top: 90px;}
.scroll-wrap {
  overflow: scroll;
  height: 700px;
}
.history-list {
  position: relative;
  border-bottom: 1px solid #debb84;
  padding: 10px;
  z-index: 1;
}
.history-stt {
  font-size: 1.5rem;
  color: #debb84;
  font-weight: 300;
}

.history-date {
  font-size: 1.5rem;
  color: #debb84;
  font-weight: 300;
  position: absolute;
  top: 10px;
  right: 10px;
}
.history-name {
  font-size: 2.6rem;
}
.history-balance {
  position: absolute;
  top: 45px;
  right: 10px;
  font-size: 2.6rem;
  font-weight: bold;
}
.red {
  color: #e23b3b;
}
.blue {
  color: #3d5daa;
}
/***********history_detail ************** */
.container {
  margin: 0 auto;
  width: 720px;
}
/* .box-wrap {
  margin: 0 auto;
  width: 720px;
} */
.coverbox {
  background-color: rgba(40, 40, 40, 0.8);
  width: 720px;
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
}
.detail-box {
  background-color: #222222;
  position: fixed;
  bottom: 0;
  width: 720px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  color: aliceblue;
  padding: 30px;
  z-index: 15;
}
.detail-box-top {
  padding-bottom: 80px;
  padding-top: 20px;
}
.cover-box-tt {
  font-size: 2.5rem;
}
.canclebt {
  position: absolute;
  top: 50px;
  right: 30px;
  width: 170px;
  font-size: 1.8rem;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.icon-wrap {
  position: relative;
  font-size: 2.4rem;
}
.fav {
  position: absolute;
  top: 0;
  right: 70px;
}
.sha {
  position: absolute;
  top: 0;
  right: 10px;
}
.box-cnt-1, .box-cnt-2 {
  padding: 10px;
}
.box-cnt-1 ul,.box-cnt-2 ul{
  position: relative;
}
.box-cnt-1 {
  border-bottom: 1px solid #debb84;
}
.box-cnt-2 {
  margin-bottom: 250px;
}
.to-right {
  position: absolute;
  top: 0;
  right: 10px;
}
.to-bottom {
  top: 60px;
}
.detail-box-cnt ul li {
  height: 80px;
  line-height: 80px;
}
.cancel-box {
  z-index: 20;
  background-color: #353535;
  width: 720px;
  position: fixed;
  bottom: 0;
  height: 770px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 30px;
}
.cancel-box-cnt ul {
  position: relative;
}
.cancel-box-cnt ul li {
  height: 60px;
  line-height: 60px;
}
.cc-box-cnt-1 , .cc-box-cnt-2, .cc-box-cnt-3 {
  padding: 10px;
}

.cc-box-cnt-1 {
  border-top: 1px solid #debb84;
  margin-top: 20px;
}
.cc-box-cnt-2 {
  border-top: 1px solid #debb84;
}
.cc-box-cnt-3 {
  border-top: 1px solid #debb84;
  border-bottom: 1px solid #debb84;
}
.pen {
  padding-left: 10px;
  font-size: 1.6rem;
}
.bold {
  font-weight: bold;
  font-size: 2.5rem;
}
.cancel-notice {
  padding-top: 20px;
  font-size: 1.5rem;
  font-weight: 300;
}
.cancel-button {
   width: 200px;
   border-radius: 10px;
   height: 70px;
   line-height: 70px;
   text-align: center;
   margin: 25px auto;
  font-size: 1.8rem;
}

/****************remit_checking  */
.plane {
  padding-right: 20px;
}
.checking-wrap {
 width: 350px;
 text-align: center;
 margin: 0 auto;
 padding-top: 400px;
 font-size: 2.5rem;
 color: aliceblue;
}
.checking-wrap span {
  font-size: 3rem;
  font-weight: bold;
}
.checking-money {
  padding-top: 50px;
}
.bottom-box ul li {
  position: absolute;
}
.a1 {
  bottom: 200px;
  left: 30px;
}
.a2 {
  bottom: 200px;
  right: 30px;
}
.a3 {
  bottom: 150px;
  left: 30px;
}
.a4 {
  bottom: 150px;
  right: 30px;
}
.line {
  border-top: 1px solid #debb84;
  position: absolute;
  width: 93%;
  bottom: 270px;
  left: 25px;
}

.circle {
  color: #debb84;
  font-size: 5rem;
  padding-top: 50px;
}
.widthset a{
  width: 46%;
}
.warning {
  position: absolute;
  bottom: 120px;
  left: 20px;
  font-size: 1.5rem;
  width: 95%;
  font-weight: 300;
}

/********acount_remit_checking  */

.bank-ac {
  font-size: 1.8rem;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
}

.a5 {
  bottom: 290px;
  left: 30px;
}
.a6 {
  bottom: 290px;
  right: 30px;
}
.line-2 {
  bottom: 350px;
}
.topset-2{
  padding-top: 320px;
}
.bottom-box-tt {
  position: absolute;
  bottom: 370px;
  font-size: 1.3rem;
  left: 30px;
}

/****************coin_remit_checking  *******************/
.coin-w {
  width: 100%;
  font-size: 2.3rem;
}
.warning-2 {
  bottom: 120px;
}
.topset {
  padding-top: 450px;
}
.btbt a{
  width: 94%;
}
.topset-3 {
  padding-top: 400px;
}

/********qrcode ************************* */
.qr {
  padding: 30px;
}
.qr img {
  width: 80%;
}
.topset-4 {
  padding-top: 150px;
}
.btctt {
  padding-top: 50px;
}
.qrbg {
  background-color: rgba(299, 299, 299, 0.9);
  border-radius: 20px;
margin: 0 auto;
  height: 800px;
  width: 80%;
  z-index: -1;
}
.black {
  color: #333;
}
.charge-wrap {
  text-align: center;
  padding-top: 90px;
  color: aliceblue;
}
.charge-tt {
  border-top: 3px solid #debb84;
  border-bottom: 3px solid #debb84;
  margin: 2rem;
  padding-top: 15px;
  font-size: 2.5rem;
}
.charge-box input {
  height: 70px;
  line-height: 70px;
  width: 85%;
  text-align: right;
  font-size: 2rem;
  border: none;
  outline: none;
  margin-left:40px;
  background-color: transparent;
  color: aliceblue;
}
.charge-box p {
  height: 70px;
  line-height: 70px;
  font-size: 2rem;
}
.charge-box {
  border: 2px solid rgb(192, 192, 192);
  width: 88%;
  margin: 10px auto;
  height: 70px;
}
.mm {
  width: 90%;
  margin: 0 auto;
  font-size: 1.5rem;
}
.mm div {
    width: 50%;
    text-align: center;
}
.nt {
  font-size: 1.6rem;
  background-color:  rgba(192, 192, 192,0.4);
  width: 88%;
  margin: 10px auto;
  margin-bottom: 25px;
  padding: 3px;
}
.charge-text {
  font-size: 1.7rem;
}
.charge-agree {
  font-size: 2.2rem;
  color: #debb84;
  position: relative;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  width: 250px;
  padding-left: 40px;
  padding-top: 30px;
}
.charge-agree input[type="checkbox"] {
  width: 40px; 
  height: 40px;
  cursor: pointer;  
  position: absolute;
  left: 10px;
}
.charge-notice {
  font-size: 1.5rem;
  width: 660px;
  margin: 0 auto;
  margin-top: 60px;
  border: 2px solid #debb84;
  padding: 20px 40px;
}
.notice-stt {
  font-size: 2rem;
  padding-top: 10px;
  padding-bottom: 15px;
}
.num {
  text-align: left;
  font-weight: 300;
  padding-bottom: 10px;
}
.notice-snt {
  border-top: solid 1px ;
  padding: 10px;
}
.notice-snt p {
  color: #999;
  text-align: left;
}
.bottomset {
  padding-bottom: 10px;
}
.terms > ol > li {
  list-style-type: decimal;
 }
/*********************remit *********************** */
.tcon-2,.tcon-3  {
  display: none;
}
/* .tab-contents {
  margin-left: 2rem;
  margin-right: 2rem;
} */
.tab-menu {
 font-size: 2.2rem;
 padding-top: 10px;
 float: right;
}
.tab-menu li {
  padding: 7px;
}
.tcon-1, .tcon-2, .tcon-3 {
  color: aliceblue;
  padding-top: 85px;
}
.line-1 {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  height: 100px;
  line-height: 100px;
  padding-left: 10px;
}
.line-2{
  border-bottom: 1px solid #999;
  height: 100px;
  line-height: 100px;
}
.qricon {
  padding: 10px;
  position: absolute;
  padding-left: 20px;
}
.right {
  color: #999;
  font-size: 1.9rem;
  font-weight: 300;
  float: right;
  padding-right: 10px;
}
.line-2 input {
  height: 100px;
  line-height: 100px;
  text-align: right;
  background-color: transparent;
  outline: none;
  border: none;
  color: aliceblue;
  float: right;
  padding-right: 10px;
}

.line-3 {
  margin: 0;
  margin-top: 30px;
  height: auto;
  text-align: center;
  font-weight: 300;
}
.fav-wrap {
  overflow: hidden;
  height: 330px;
}
.fav-li-wrap {
  overflow: scroll;
  height: 250px;
}
.fav-top-wrap {
  border-bottom: 2px solid #debb84;
font-size: 2.2rem;
padding: 10px;
padding-bottom: 20px;
color: aliceblue;
text-align: left;
}
.fav-plus {
  float: right;
}
.fav-tt {
  display: inline-block;
  text-align: left;
}
.fav-li {
  height: 80px;
  line-height: 80px;
  padding-left: 10px;
  border-bottom: 1px solid #999;
  width: 100%;
}
.fav-li li:first-child{
  width: 20%;
}
.fav-li li:nth-child(2){
  width: 60%;
}
.fav-li li:last-child{
  width: 20%;
}
.ar {
  font-size: 1.8rem;
  padding-left: 10px;
}
#ac_2 {
padding-left: 40px;
}
.bank {
  padding-left: 0px;
  position: absolute;
}
.bank select {
  color: aliceblue;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  width: 150px;
}
.bank select option {
  color: #333;
}
.width-set-2 a{
width: 92%;
left : 0;
}
#bt-2 {
  color : #666;
  font-weight: normal;
}
#bt-3 {
  color : #666;
  font-weight: normal;
}
/* .position-reset {
  position: relative;
}
 */
/*****************money***************  */
.money-wrap {
  padding: 400px 10px 0; text-align: center;
}
.money {
  color: aliceblue; font-size: 3rem; width: 100%; border: 1px solid #cdcdcd;
}
.m-2 {
  display: inline-block;
  width: 82%;
}
.m-2 input[type="number"] {
  background-color: transparent;
  outline: none;
  border: none;
  text-align: right;
  color: #fff;
  width: 100%;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.money-won {
  display: inline-block;
  width: 15%;
}
/***************fav ********************* */
.pa-l a{
left: 30px;
}
.fav-name{
  border-top: none;
  margin-top: 0;
  width: 90%;
}
.fav-name input {
  text-align: left;
}
#favName {
  background-color: transparent;
  color: aliceblue;
  border: none;
  outline: none;
}
.fav-name-tt {
  color: aliceblue;
  padding-left: 30px;
  padding-top: 40px;
  font-size: 1.8rem;
}
.fav-guide {
  padding: 40px;
  font-size: 1.6rem;
  font-weight: 300;
}
.fav-guide p {
  padding-bottom: 20px;
}
/**********access_rights ************ */
.access-top {
  color: aliceblue;
  text-align: center;
  padding-top: 50px;
}
.access-tt {
  font-size: 2.9rem;
}
.access-stt {
  padding-top: 30px;
}
.access-box {
  background-color: rgba(299, 299, 299, 0.2);
  width: 90%;
  margin: 20px auto;
  height: 100px;
  line-height: 100px;
  color: aliceblue;
  padding-left: 20px;
  border-radius: 20px;
}
.access-cnt {
  padding-top: 40px;
}
.access-cnt i {
  float: right;
  font-size: 3rem;
  height: 100px;
  line-height: 100px;
  padding-right: 30px;
}
.password-nt-box {
  background-color: rgba(299, 299, 299, 0.2);
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  padding: 40px;
}
.password-nt-box p {
  padding-bottom: 20px;
}
.password-cnt-check {
  font-size: 1.8rem;
  width: 100%;
  margin: 0 auto;
}
.password-cnt-check label {
  color: #debb84;
  padding-left: 40px;
}
.password-cnt-check input[type="checkbox"] {
  width: 30px;
    height: 40px;
    cursor: pointer;
    padding: 50px;
    position: absolute;
}
.click {
  float: right;
  color: aliceblue;
  font-weight: 300;
  font-size: 1.6rem;
}
.newset {
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 1.8rem;
  font-weight: 400;
}

/* history */

@media (min-width: 320px) and  (max-width:720px){
  body{width: 100%;font-size:1rem;}
  .container{width: 100%;}
  .w3-container{padding: 0 1rem;width: 100%;}
  .top{padding: 0;padding-bottom: 1rem;}
  .top:last-child{padding-bottom: 0;}
  /* 코인추가 */
  .top-wrap{height: 70px;line-height: 70px;font-size: 1.5rem;padding-top: 0;width: 100%;}
  .toptt{font-size: 1.5rem;}
  .toptt-left{font-size: 1.5rem;padding-left: 0;}
  .back{font-size: 1.5rem;top: 25px;left: 1rem;}
  .ma-top{padding-top: 75px;}
  .coinAddwrap{padding: 1rem;}
  .coinAddList > ul > li > img, .coinAddList > ul > li > p{font-size: 1.2rem;}
  .close{font-size: 1.5rem;top:25px; right: 1rem;}
  .charge-wrap{padding: 0 1rem; padding-top: 75px;}
  .charge-tt{margin: 1rem 0;padding-top: 15px;font-size: 1.2rem;border-top: 1px solid #debb84; border-bottom: 1px solid #debb84;}
  .charge-box{width: 100%;height: 60px;}
  .mm{width: 100%;font-size: 1rem;text-align: center;}
  .charge-box input{margin-left:20px;height: 60px;line-height: 60px;font-size: 1.5rem;}
  .charge-box p{height: 60px;line-height: 60px;font-size: 1.5rem;}
  .nt{font-size: 1.2rem;width: 100%;}
  .charge-text{font-size: 1.1rem;}
  .charge-agree{font-size: 1rem; color: #debb84;height: 40px;line-height: 40px;margin: 0 auto;width: 50%;padding-left: 0px;padding-top: 0px;}
  .charge-agree input[type="checkbox"]{width: 20px;height: 20px;left: 0;position: inherit;top: 4px;}
  .notice-stt{font-size: 1rem;}
  .charge-notice{width: 100%;margin-top:20px;font-size: 1rem;padding: 1rem;}
  .promotion-button{width: 100%;left: 0;}
  .cc a{width:29.5%;left: 1rem;font-size: 1.2rem;height: 40px;line-height: 40px; border-radius: 5px; bottom: 15px;}
  .ap a{width: 60%;font-size: 1.2rem; height: 40px;line-height: 40px; border-radius: 5px; bottom: 15px; right: 1rem;}
  .mt-set {margin-top: 235px;}
/* 코인 거래내역 */
.veiwWrap{width: 100%;top: 70px;padding:0 1rem;padding-top: 0;}
.veiwBox{padding:1rem;border-radius: 1rem;}
.gold-tt{font-size: 1.2rem;padding-top: 0;}
.balance-wrap{width: 100%;padding: 0.8rem 0 1.5rem; text-align: center;}
.balance{font-size: 2.5rem;text-align: center;}
.ns{font-size: 1rem;padding-top:1.6rem;padding-left: 0.5rem;display: inline-block;}
.setbar{margin-top: 1rem;}
.drop-box{padding-left: 0;}
.drop-box select{font-size: 1rem;height: 40px;border-radius: .5rem}
.datepick{margin-left: 0;height: 40px;border-radius: .5rem}
.datepick input{font-size: 0.7rem;width: 42%;height: 40px;}
.wave{height: 40px;line-height: 40px;}
.scroll-wrap{height: 400px;}
.position-re {
  position: relative;
  padding-top: 80px;
}
.terms > h3, .terms > h4 {
  font-size: 1rem;
}

  /* remit */
  .tab-contents {
    padding-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }
  .tab-menu {
    font-size: 1.2rem;
    padding-top: 0;
  }
  .tcon-1, .tcon-2, .tcon-3 {
    padding-top: 45px;
}
.tab {
  margin-bottom: 0;
}
  .line-1 {
    height: 50px;
    line-height: 50px;
    font-size: 1rem;
    padding-left: 5px;
  }
  .pen {
    font-size: 1rem;
  }
  .line-2 {
    height: 50px;
    line-height: 50px;
    font-size: 1.2rem;
  }
  .qricon {
    padding: 0;
    padding-left: 10px;
    font-size: 2rem;
    height: 50px;
    line-height: 50px;
  }

  .right {
    font-size: 1.0rem;
  }
  .line-2 input {
    height: 50px;
    line-height: 50px;
font-size: 1rem;
  }
  .line-3 {
    margin-top: 15px;
  }
  .fav-top-wrap {
    font-size: 1.2rem;
    padding: 0;
    padding-bottom: 10px;
  }
  .fav-li {
    height: 40px;
    line-height: 40px;
  }
  .fav-li-wrap {
    height: 120px;
  }
  .fav-wrap {
    height: 160px;
  }
  .width-set-2 a {
    width: 92%;
  }
  .balance {
    display: inline-block;
    float: none;
  }
  .bank select {
    width: auto;
    font-size: 1rem;
  }
  .drop-box select {
    padding-left: 0;
  }
  .history-list-wrap {
    padding: 15px;
    border-radius: 10px;
    margin: 1rem;
    margin-top: 290px;
  }
  .fav-plus {
    padding-left: 0;
  }
  .w-back-set {
    padding: 15px;
    background-color: rgba(299, 299, 299, 0.1);
    border-radius: 10px;

  }

  /* remit_checking */
  .checking-wrap{
    padding-top: 200px;
    font-size: 1.2rem;
  }
  .checking-wrap span {
    font-size: 1.7rem;
  }
.wrap-wrap {
  padding: 1rem;
}
.line {
  bottom: 120px;
  width: 91%;
  left: 1rem;
}

.checking-money {
  padding-top: 20px;
  font-size: 1.5rem;
}

.a1 {
  bottom: 90px;
  left: 20px;
}
.a2 {
  bottom: 90px;
  right: 20px;
}
.a3 {
  bottom: 70px;
  left: 20px;
}
.a4 {
  bottom: 70px;
  right: 20px;
}
.warning {
  font-size: 0.8rem;
  width: 91%;
  bottom: 60px;
}
.lz a {
  left: 0;
}
.rz a {
  right: 0;
  width: 65%;
}
.circle {
  font-size: 3rem;
}
.password-cnt-check {
  font-size: 0.9rem;
}
.password-cnt-check input[type="checkbox"] {
  height: 20px; width: 20px; 
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
  padding: 5px;}
}

/* coin_remit_checking */
.bottom-box-tt {
  left: 1rem;
  font-size: 0.8rem;
  bottom: 167px;
}
.warning-2 {
  bottom: 60px;
}
.topset {
  padding-top: 250px;
}
.btbt a {
  width: 92%;
  left: 1rem;
}

/* account_remit_checking */
.topset-2 {
  padding-top: 150px;
}
.line-2 {
  bottom: 160px;
}
.a5 {
  left: 1rem;
  bottom: 130px;
}
.a6 {
  right: 1.3rem;
  bottom: 130px;
}

.bank-ac {
  height: 30px;
  line-height: 30px;
  font-size: 1rem;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}
.checking-wrap {
  width: 100%;
}
.m-topset {
  padding-top: 190px;
}
/* money */
.money-wrap {
  padding-top: 200px;
}
.money {
  font-size: 2rem;
}
/* fav */
.fav-name-tt {
  padding-left: 0;
  font-size: 1.1rem;
  padding-top: 10px;
}
.fav-guide {
  font-size: 0.9rem;
  padding: 0;
  padding-top: 10px;
}
.fav-guide p {
  padding-bottom: 10px;
}

/* qrcode */
.m-topset2 {
  padding: 1rem;
}

.qrbg {
  margin-top: 80px;
  height: 420px;
  border-radius: 10px;
  width: 90%;
}


.m-topset3 {
  padding-top: 90px;
}
.btctt {
  padding-top: 20px;
}
.qr {
  padding: 25px 0;
}
.m-font {
  font-size: 1.2rem;
  padding-top: 10px;
}
.widthset a {
  width: 44.5%;
}

/* access_right */
.access-top {
  padding-top: 30px;
}
.access-tt {
  font-size: 1.5rem;
}
.access-stt {
  padding-top: 15px;
}
.access-cnt {
  padding: 0 1rem;
  padding-top: 30px;
}
.access-box {
  margin: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  margin-top: 10px;
}
.m-margintop {
  margin-top: 20px;
}
.access-cnt i {
  font-size: 2rem;
  height: 50px;
  line-height: 50px;
  padding-right: 15px;
}
.m-marset {
  margin: 1rem;
}
.password-nt-box {
  width: 97%;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}
.m-paddingtop {
  padding-top: 10px;
}
.password-nt-box p {
  padding-bottom: 10px;
}
.password-cnt-check label {
  padding-left: 25px;
}
.password-cnt-check:nth-child(1) {
  padding-bottom: 5px;
}
.click {
  font-size: 0.9rem;
}
/* history_detail */
.coverbox {
  width: 100%;
}
.detail-box {
  width: 100%;
  height: 500px;
  padding: 15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.cover-box-tt {
  font-size: 1.2rem;
}
.icon-wrap {
  font-size: 1.2rem;
}
.detail-box-top {
  padding-bottom: 40px;
}
.fav {
  right: 40px;
}
.detail-box-cnt ul li {
  height: 40px;
  line-height: 40px;
}
.box-cnt-1, .box-cnt-2 {
  padding: 10px 0;
}
table {border-collapse:collapse;}
button {border: none;background: none;font-size: inherit;font-weight: inherit;margin: 0;padding: 0;text-decoration: none;vertical-align: top;cursor:pointer;}
/* .colorStyle01 {color:#debb84;} */
/* 메뉴 */
.menu-wrap{padding: 0 1rem;padding-top: 70px;}
.menu{width: 100%;margin-top: 0;margin-bottom: 1rem;padding: 1rem;font-size: 1.2rem;}
.m li{height: 40px;line-height: 40px;}
label.bb:before{top: 15px;font-size: 2rem;}
label.ee:before{top: 55px;font-size: 2rem;}

/* 공지사항 */
.list-wrap{padding: 0 1rem;padding-top: 70px;width: 100%;}
.c{padding: 1rem 0}
.date{padding-top: 0.5rem;}
.bt{top: 25px;right: 0.5rem;font-size: 1rem;}

/* 공지사항 내용 */
.notice-wrap{width: 100%;padding: 4rem 1rem 1rem;}
.notice-cnt{width: 100%;padding: 0 1rem 1rem;;}
.stt, .text-2 ul{font-size: 1.2rem;}
.text-1, .text-2 ul li{font-size: 1rem;}

/* 버전정보 */
.version-cnt{padding-top:15rem}
.version-cnt .playstore{width: 5rem;}

/* password-1 */
.password-tt{font-size: 1.5rem;padding-top: 7rem;}
.password-cc{padding: 0 1rem;}
.password-cc ul{padding-top: 5.5rem;}
.password-cc ul li{font-size: 1.2rem;}
.keypad-wrap{font-size: 1.7rem;padding-top: 3.5rem;}
.keypad ul li {
  padding: 5% 12%;
}
.password-cc ul li {
  padding: 8px;
  font-size: 1rem;
}

/* 간편계좌 백업/복원 */
.backup-wrap{width: 100%;padding: 4rem 1rem 1rem;}
.backup-stt{font-size:1.5rem;}
.backup-box{margin-top: 10px;}
.backup-icon{width: 270px; padding-top: 10px;}
.backup-next{padding-left: 0; padding-top: 0; text-align: right;font-size: 1.2rem;}

/* 간편계좌 백업/복원(backup_detail) */
.backup-detail-wrap{width: 100%;padding: 4rem 1rem 1rem;}
.backup-stt-1{padding: 1rem 0;}
.backup-stt-2{padding: 1rem;}
.backup-stt-1 i{padding-top: 0;padding-right: 1rem;font-size: 1.5rem;}
.backup-text-1{font-size: 0.9rem;}
.backup-cnt-1 input{font-size: 1.2rem;}
.backup-cnt-2{padding: 0 1rem;margin-top: 0.5rem;}
.check input[type="checkbox"]{width: 20px;height: auto;}
.check p{font-size: 1rem;}
.next{height: 50px;line-height: 50px;}

/* 프로모션 코드 */
.promotion-wrap{width: 100%;padding: 4rem 1rem 1rem;}
#code{font-size: 1rem; height: 40px; line-height: 40px;}
.promotion-cnt{width: 100%;height: 40px;
  line-height: 40px;}
  .promotion-cnt .pen {
    padding-top: 0;
    height: 40px;
    line-height: 40px;
  }
/* 거래내역 */
.width-set{width: 100%;padding-top: 19rem;}
.history-list-wrap{padding: 0 1rem;margin: 0 1rem;width: -webkit-fill-available;height: 400px;}

.history-list-wrap2 {
  margin: 1rem;
  border-radius: 20px;
  padding: 10px;
  margin-top: 460px;
  overflow: hidden;
 }
.mgtop-set {margin-top: 70px;}
.history-stt{font-size: 0.9rem;}
.history-date{font-size: 0.9rem;right: 0;}
.history-name{font-size: 1.2rem;}
.history-balance{font-size: 1.2rem;top: 30px;right: 0;}
.history-list{padding: 10px 0;}

/* history_detail_4 */
.canclebt{font-size: 1rem;width: 90px;height: 35px;line-height: 35px;top: 20px;right: 20px;}
.detail-box-top{padding-top: 0.5rem;}

/* history_detail_5 */
.cancel-box{width: 100%;height: 430px; padding: 20px;border-top-left-radius: 30px; border-top-right-radius: 30px;}
.cancel-notice{font-size: 0.7rem;}
.bold{font-size: 1.5rem;}
.cancel-button{font-size: 1rem;width: 100px;height: 40px;line-height: 40px;margin: 1rem auto;}
.cancel-box-cnt ul li{height: 30px;line-height: 30px;}
.cc-box-cnt-1{margin-top: 0;}

/* NoticePop */
.hide {display: none;}
.pop_wrap {position: fixed;left: 0;right: 0;top: 0;bottom: 0;background-color: rgba(0,0,0,0.5);z-index: 999;}
.pop_wrap p {font-size: 1rem;}
.pop_wrap .pop_content .content_tit {text-align: center;}
.pop_inner {position: absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);box-sizing:border-box;width: 90%;max-width:600px;padding: 1rem 1rem 40px;border-radius:1rem;background-color:#444;}
.pop_tit {border-bottom: 1px solid #debb84;}
.pop_tit p {font-size: 1rem;}
.pop_tit p:before {content:'';display: inline-block;width: 85px;height: 25px;background-image: url(../img/logotype.png);background-size: contain;background-repeat: no-repeat;}
.pop_tit strong {vertical-align: 6px;font-size: 1.1rem;font-weight: 400;}
.pop_content {padding: 20px 0;}
.pop_content .content_tit {margin-bottom: 1rem;}
.pop_content strong {font-size: 24px;color: #debb84;}
.pop_content .content_inner .sub_tit {display: inline-block;margin-bottom: 8px;box-shadow:inset 0 -4px 0 #debb84;text-align: left;font-size: 16px;}
/* .pop_content .content_inner:nth-of-type(1) {padding: 10px;border: 2px solid #debb84;} */
.pop_content .content_inner {margin-bottom: 1rem;}
.pop_content .content_inner:nth-of-type(1) li {position: relative;padding-left:8px;font-size: 14px;}
.pop_content .content_inner:nth-of-type(1) li:before {content:'';display: inline-block;position: absolute;left: 0;top: 9px;width: 4px;height: 4px;margin-right: 4px;border-radius:50%;background-color: #debb84;vertical-align: 3px;}
.pop_content table {width: 100%;margin-bottom: 8px;}
.pop_content table th, .pop_content table td {padding: 4px 0;text-align: center;font-size: 14px;font-weight: 400;color: #FFF;}
.pop_content table th {background-color: #c7aa7c;}
.pop_content table td {background-color: #fff;color: #000;}
.pop_content .col_table th, .pop_content .col_table td {border-right: 1px solid #EEE;}
.pop_content .col_table th:last-child, .pop_content .col_table td:last-child {border-right: none;}
.pop_content .sub_txt:before {content:'';display: inline-block;width: 5px;height: 5px;margin-right: 4px;background-color: #debb84;vertical-align: 3px;}

.pop_wrap button {font-size: 1rem;}
.notice_close_btn {position: absolute;right: 1rem;top: 1rem;width: 30px;height: 30px;background-image: url(../img/notice_close_btn.svg);background-size: 24px auto;background-repeat: no-repeat;background-position: right top;z-index: 999;}
.notice_hide_btn {position: absolute;left: 50%;transform:translateX(-50%);bottom: 1rem;color: #debb84;white-space: nowrap;}
