body {overflow: hidden;}
body * {font-size: 15px;}
.wrapper {width: 500px;}
span.txt_red {font-weight: 700;color: #ff522a !important;}
.txt_red {color: #ff522a;}
.txt_blue {color: #3aa6de;}
.txt_b {font-weight: 700;}
table {width: 100%;border-collapse: collapse;}
b, p, span {font-weight: 400;font-size: inherit;}

input[type="text"] {width: 87px;border: 1px solid #AAA;background:#fff;font-size: 14px;line-height: 18px;}
input::placeholder {font-size: 12px;}
.cash_btn {display: inline-block;padding: 0 8px;line-height: 18px;border: 1px solid #dfdfdf;background-color: #fcfcfc;font-size: 12px;font-weight: 400;}
.question_pop {height: 18px;background-image: url(../images/question_mark_icon.svg);background-repeat: no-repeat;background-position: center;background-size: 18px auto;}

.header {display: flex;position: relative;justify-content:space-between;align-items:center;padding: 0 20px;border-bottom: 1px solid #CCC;background-color: #ededed;height: 40px;}
.header h1:before {content:'';display: inline-block;width: 120px;height: 17px;margin-right: 4px;background-image: url(../images/header_logo.png);background-repeat: no-repeat;background-size: contain;vertical-align: -4px;}
.header .cash_nav {display: flex;position: absolute;right: 20px;top: 9px;}
.header .cash_nav a {display: block;width: 80px;border: 1px solid #CCC;background-color: #f7f7f7;line-height: 30px;text-align: center;font-size: 14px;}
.header .cash_nav a:first-child {margin-right: 2px;}
.header .cash_nav li.on a {border-bottom-color:#FFF;background-color: #fff;}

.content_wrap {position: relative;padding: 0 20px;}
.content_wrap strong {display: block;line-height: 44px;font-size: 20px;letter-spacing: 0.03em;}
.content_wrap>p {position: absolute;top: 6px;right: 20px;font-size: 12px;font-weight: 400;color: #aaa;}
.content_wrap .selected_price {font-weight: 700;}
.cash_util {position: absolute;right: 20px;top: 24px;}
.cash_util a {font-size: 11px;font-weight: 400;}
.cash_util a:first-child {margin-right: 4px;}

.form_inner table {margin-bottom: 52px;}
.form_inner table th {font-size: 13px;white-space: nowrap;}
.form_inner table tr:first-child td {padding: 8px 0 8px 10px;border-top: 2px solid #000;background-color: #f9f9f9;}
.form_inner table tr:first-child td span {margin-right: 20px;}
.form_inner table th, .form_inner table td {border-bottom: 1px solid #dfdfdf;background-color: #efefef;}
.form_inner table th {border-right: 1px solid #dfdfdf;}
.form_inner table td {padding: 10px 10px;font-weight: 400;font-size: 14px;}
.form_inner table button {padding: 0 8px;line-height: 18px;border: 1px solid #aaa;background-color: #fcfcfc;font-size: 12px;font-weight: 400;}
.form_inner table label {font-size: 14px;font-weight: 400;white-space: nowrap;}
.form_inner table .bdb_n td {border-bottom: none;}
.form_inner table select, .form_inner table option {border: 1px solid #AAA;font-weight: 400;font-size: 14px;}
.form_inner .price_add {margin-bottom: 4px;}
.form_inner .price_add_btns button {width: 46px;}
.form_inner .price_add>button {border: 1px solid #999;background: #aaa;color: #fff;}

.form_inner tr:nth-of-type(5) p {line-height: 20px;font-size: 12px;}
.form_inner tr:nth-of-type(6) p {text-align: right;}
.form_inner .insert_price span {font-size: 14px;}

.form_inner>p {margin-bottom: 20px;text-align: right;}
.form_inner textarea {box-sizing:border-box;margin-bottom: 4px;padding: 4px;border: 1px solid #aaa;background:#fff;resize: none;font-size: 14px;}
.form_inner textarea::placeholder {font-size: 13px;}

.form_btns {display: flex;justify-content: space-between;}
.form_btns button, .form_btns a {display: block;width: 220px;line-height: 60px;text-align: center;font-weight: 400;font-size: 18px;}
.form_btns button {background-color: #ffc600;}
.form_btns a {background-color: #ccc;}

/* 모달창 */
.pops .pop_wrap {display: none;}
.modal_wrap {display: none;position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(255,255,255,0.8);}
.modal_box {position: fixed;left: 50px;top: 50%;transform:translateY(-50%);border: 1px solid #888;background-color: #fff;}
.modal_box .close_btn {position: absolute;top: 4px;right: 6px;width: 20px;height: 20px;background-image: url(../images/cash_modal_close_btn.svg);background-repeat: no-repeat;background-size: contain;}
.modal_header {position: relative;padding-left: 10px;line-height: 30px;background-color: #AAA;}
.modal_header strong {font-size: 12px;color: #FFF;vertical-align: 2px;}
.modal_box_inner {width: 380px;padding: 10px 0;margin: 0 auto;}
.modal_wrap .modal_bottom {text-align: center;}

/* 충전알림메일 관리 */
.modal_wrap:first-child .modal_box {box-sizing:border-box;width: 400px;height: 260px;}
.modal_wrap:first-child .modal_content>p {margin-bottom: 30px;font-size: 13px;}
.modal_wrap:first-child table {margin-bottom: 14px;}
.modal_wrap:first-child th {padding: 10px 0;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;background-color: #f7f7f7;font-size: 13px;font-weight: 400;}
.modal_wrap:first-child td {padding: 10px 0 10px 10px;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;color: #3aa6de;font-size: 13px;font-weight: 400;}
.modal_wrap li {line-height: 20px;font-size: 12px;font-weight: 400;}
.modal_wrap li:before {content:'';display: inline-block;width: 2px;height: 2px;margin-right: 3px;border-radius:50%;background-color: #888;vertical-align: middle;}

/* 결제수단 설정 */
.modal_wrap:nth-child(2) .modal_box {box-sizing:border-box;width: 400px;height: 260px;}
.modal_wrap:nth-child(2) table {margin-bottom: 40px;}
.modal_wrap:nth-child(2) td {padding: 4px 0 4px 6px;border: 1px solid #dedede;font-weight: 400;font-size: 12px;cursor: pointer;}
.modal_wrap:nth-child(2) td:hover {color: #ff522a;}
.modal_wrap:nth-child(2) .set_btn {padding: 0 8px;line-height: 18px;border: 1px solid #ffc600;background-color: #ffc600;font-size: 12px;font-weight: 400;}
.current_pay {margin-bottom: 10px;}
.current_pay * {line-height: 20px;font-size: 13px;}
.current_pay p:nth-child(2) {font-weight: 400;}

/* 아이디확인 알림창 */
.modal_wrap .alert_box {padding: 20px;}
.modal_wrap .alert_box > p {margin-top: 4px;font-size: 13px;line-height: 18px;}
.modal_wrap .alert_txt {padding: 20px 10px;border-top: 1px solid #000;border-bottom: 1px solid #000;}
.modal_wrap .alert_txt p {font-size: 14px;font-weight: 700;color: #888;}
.modal_wrap .alert_txt p:first-child {margin-bottom: 14px;}

/* 말풍선팝업 */
.pop1, .pop2 {display: inline-block;width: 14px;border: 1px solid #000;text-align: center;}

.pop_wrap:nth-child(1) {position: fixed;left: 50px;top: 120px;box-sizing:border-box;width: 400px;padding: 10px;border: 1px solid #888;background-color: #fff;}
.pop_wrap:nth-child(1) li {line-height: 18px;font-size: 12px;font-weight: 400;}
.pop_wrap:nth-child(1) li:before {content:'';display: inline-block;width: 2px;height: 2px;margin-right: 3px;border-radius:50%;background-color: #888;vertical-align: middle;}

.pop_wrap:nth-child(2) {position: fixed;left: 142px;top: 231px;box-sizing:border-box;width: 290px;padding: 10px;border: 1px solid #888;background-color: #fff;}
.pop_wrap:nth-child(2) li {line-height: 18px;font-size: 12px;font-weight: 400;}
.pop_wrap:nth-child(2) li:before {content:'';display: inline-block;width: 2px;height: 2px;margin-right: 3px;border-radius:50%;background-color: #888;vertical-align: middle;}


