body * {font-size: 15px;}
.wrapper {width: 500px;}
.txt_red {color: #ff522a;}
.txt_blue {color: #3aa6de;}
.txt_b {font-weight: 700;}
table {width: 100%;border-collapse: collapse;}
b, p, span {font-weight: 400;font-size: inherit;}

input[type="text"] {width: 87px;border: 1px solid #AAA;background:#fff;font-size: 14px;line-height: 18px;}
input::placeholder {font-size: 12px;}
.cash_btn {display: inline-block;padding: 0 8px;line-height: 18px;border: 1px solid #dfdfdf;background-color: #fcfcfc;font-size: 12px;font-weight: 400;}

.header {display: flex;position: relative;justify-content:space-between;align-items:center;padding: 0 20px;border-bottom: 1px solid #CCC;background-color: #ededed;height: 40px;}
.header h1:before {content:'';display: inline-block;width: 120px;height: 17px;margin-right: 4px;background-image: url(../images/header_logo.png);background-repeat: no-repeat;background-size: contain;vertical-align: -4px;}
.header .cash_nav {display: flex;position: absolute;right: 20px;top: 9px;}
.header .cash_nav a {display: block;width: 80px;border: 1px solid #CCC;background-color: #f7f7f7;line-height: 30px;text-align: center;font-size: 14px;}
.header .cash_nav a:first-child {margin-right: 2px;}
.header .cash_nav li.on a {border-bottom-color:#FFF;background-color: #fff;}

.content_wrap {position: relative;padding: 0 20px;}
.content_wrap strong {display: block;line-height: 44px;font-size: 20px;letter-spacing: 0.03em;}
.content_wrap .content>p:nth-of-type(1) {position: absolute;top: 6px;right: 20px;font-size: 12px;font-weight: 400;color: #aaa;}
.content_wrap .content>p:nth-of-type(2) {font-size: 13px;line-height: 18px;color: #555;}
.content_wrap .content>p:nth-of-type(3) {text-align: right;}
.content_wrap .selected_price {font-weight: 700;}
.cash_util {position: absolute;right: 20px;top: 24px;}
.cash_util a {font-size: 11px;font-weight: 400;}
.cash_util a:first-child {margin-right: 4px;}

.txt_box {display: flex;align-items:center;padding: 30px 0 30px 40px;border-top: 2px solid #000;border-bottom: 1px solid #555;}
.txt_box strong {line-height: 20px;margin-bottom: 10px;}
.txt_box p {line-height: 20px;}
.txt_box img {width: 70px;margin-right: 50px;}

.content_wrap td, .content_wrap th {padding: 12px 0;border-bottom: 1px solid #dfdfdf;}
.content_wrap th {padding-left: 12px;text-align: left;background-color: #efefef;}
.content_wrap td {padding-right: 12px;text-align: right;}
.content_wrap table {margin-bottom: 14px;}
.content_wrap .content {margin-bottom: 100px;}
.content_wrap .content p button {padding: 2px 6px;border: 1px solid #dfdfdf;background-color: #fcfcfc;font-weight: 400;font-size: 14px;}

.cash_btns {display: flex;justify-content: space-between;}
.cash_btns button, .cash_btns a {display: block;width: 220px;line-height: 60px;text-align: center;font-weight: 400;font-size: 18px;}
.cash_btns button {background-color: #ffc600;}
.cash_btns a {background-color: #ccc;}

/* 모달창 */
.modal_wrap {display: none;position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(255,255,255,0.8);}
.modal_box {position: fixed;left: 50px;top: 50%;transform:translateY(-50%);border: 1px solid #888;background-color: #fff;}
.modal_box .close_btn {position: absolute;top: 4px;right: 6px;width: 20px;height: 20px;background-image: url(../images/cash_modal_close_btn.svg);background-repeat: no-repeat;background-size: contain;}
.modal_header {position: relative;padding-left: 10px;line-height: 30px;background-color: #AAA;}
.modal_header strong {font-size: 12px;color: #FFF;vertical-align: 2px;}
.modal_box_inner {width: 380px;padding: 10px 0;margin: 0 auto;}
.modal_wrap .modal_bottom {text-align: center;}

/* 충전알림메일 관리 */
.modal_wrap:first-child .modal_box {box-sizing:border-box;width: 400px;height: 260px;}
.modal_wrap:first-child .modal_content>p {margin-bottom: 30px;font-size: 13px;}
.modal_wrap:first-child table {margin-bottom: 14px;}
.modal_wrap:first-child th {padding: 10px 0;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;background-color: #f7f7f7;font-size: 13px;font-weight: 400;}
.modal_wrap:first-child td {padding: 10px 0 10px 10px;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;color: #3aa6de;font-size: 13px;font-weight: 400;}
.modal_wrap li {line-height: 20px;font-size: 12px;font-weight: 400;}
.modal_wrap li:before {content:'';display: inline-block;width: 2px;height: 2px;margin-right: 3px;border-radius:50%;background-color: #888;vertical-align: middle;}

/* 결제수단 설정 */
.modal_wrap:nth-child(2) .modal_box {box-sizing:border-box;width: 400px;height: 260px;}
.modal_wrap:nth-child(2) table {margin-bottom: 40px;}
.modal_wrap:nth-child(2) td {padding: 4px 0 4px 6px;border: 1px solid #dedede;font-weight: 400;font-size: 12px;cursor: pointer;}
.modal_wrap:nth-child(2) td:hover {color: #ff522a;}
.modal_wrap:nth-child(2) .set_btn {padding: 0 8px;line-height: 18px;border: 1px solid #ffc600;background-color: #ffc600;font-size: 12px;font-weight: 400;}
.current_pay {margin-bottom: 10px;}
.current_pay * {line-height: 20px;font-size: 13px;}
.current_pay p:nth-child(2) {font-weight: 400;}


