body {overflow: hidden;}
.txt_red {color: #ff522a;}


.wrapper {width: 600px;}
.change_pw {width: 520px;margin: 0 auto;padding: 60px 0 40px;}
.change_pw p {margin-bottom: 30px;text-align: center;font-size: 20px;}

.form_inner .user_id {line-height: 50px;margin-bottom: 14px;background-color: #dedede;text-align: center;font-size: 20px;}
div[class*="area"] {margin-bottom: 20px;}
div[class*="area"] .error_msg {margin-left: 14px;font-weight: 400;line-height: 24px;font-size: 14px;color: #ff522a;}
div[class*="area"] .error_msg:before {content:'';display: inline-block;width: 20px;height: 20px;margin-right: 6px;background-image: url(../images/warning_red.svg);background-size: 20px auto;vertical-align: -5px;}
div[class*="area"] input {box-sizing:border-box;width: 100%;padding-left: 20px;border: 1px solid #dfdfdf;line-height: 50px;font-size: 18px;}
div[class*="area"] input::placeholder {color: #AAA;}

.btns {display: flex;justify-content: space-between;}
.btns a, .btns button {display: block;width: 250px;line-height: 50px;text-align: center;font-size: 18px;}
.btns button {background-color: #dedede;}
.btns .change_btn {background-color: #ffc600;}