@charset 'UTF-8';
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);

html, body {position: relative;width:100%;height: 100%;font-family: 'Open Sans', 'Nanum Gothic', 'Nanum',sans-serif;}
body {font-size: 14px;color: #000;margin: 0;padding: 0;}
a, button, input, textarea {border: none;background: 0 0;-webkit-appearance: none;-webkit-border-radius: 0;outline: 0;vertical-align: top;padding: 0;margin: 0;font-size: inherit;font-weight: inherit;font-family: inherit;color: inherit;text-decoration: none;}
.min-width-1280{min-width: 1280px;}
.listStyleNone{list-style: none;margin: 0;padding: 0;}
.ml40{margin-left: 40px!important;}
.mt75{margin-top: 75px!important;}
.width4{width: 4%;}.width60{width: 60%;}
.width10{width: 10%;}.width20{width: 20%;}.width30{width: 30%;}.width40{width: 40%;}
.colorY{color: #c98000;}
.color666{color: #666;}
.fontbold700{font-weight: 700!important;}
.fl{float: left!important;}
.fr{float: right!important;}
.fontTitle{font-size: 2.4rem;}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, s, samp, section, select, small, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
    margin: 0;padding: 0;border: 0;font-size: 1rem; font-weight:600;vertical-align: middle;line-height: 1em;list-style: none;font-weight: normal;}
.pl30{padding-left: 30px!important;}
.pr30{padding-right: 30px!important;}
.clearfix {content:'';display: block;clear: both;}

/* Common */
.container {width: 940px;margin: 0 auto;}
#main, body {background-color: #FFF !important;}

/* header */
header{width: 100%; background: #fff;}
.topGnbWrap{width: 1280px;height: 65px; margin: 0 auto;overflow: hidden;}
h2.logo{width: 640px;float: left;margin: 0;margin-top: 19px;}
.logo > a{width: 164px;}
.logo > a > img{max-height: 26px;}
.topGnb{width: 640px;margin-top: 15px;}
.topGnb ul {overflow: hidden;display: flex;align-items: center;justify-content: flex-end;}
.topGnb li{float: left;font-weight: 600;font-size: 22px!important;}
.topGnb li img{margin: -3px 10px 0 0;}
.btnLogin{background-color: #ffc600;width: 92px;padding: 4px 0;border: none; border-radius: 20px;font-size: 20px;text-align: center;font-weight: 600;}

/* Footer */
footer{width: 100%;height: 210px;background: #f3f3f3;min-width: 1280px;font-size: 14px;}
.footer .FNB-wrapper{border-top: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;}
.footer .FNB{width: 1280px;height: 62px;margin: 0 auto;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;}
.footer .FNB > a img{height: 26px;margin-top: 19px;}
.footer .footer-menu{margin-left: 65px;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-moz-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-webkit-align-items: center;-moz-box-align: center;-ms-flex-align: center;align-items: center;}
.footer .footer-menu a{margin-right: 30px;color: #888;}
.footer .address-wrapper{position: relative;width: 1280px;margin: 0 auto;}
.footer address{padding: 24px 0 0 185px;color: #888;}
.footer address p, .footer address p span{font-weight: 400;font-size: 12px;font-style: normal;line-height: 23px;}
/* go top */
.footer .go-top{width: 40px;height: 40px;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-moz-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-webkit-align-items: center;-moz-box-align: center;-ms-flex-align: center;align-items: center;border: 1px solid #dfdfdf;background-color: #f7f7f7;}
.footer .go-top.go-top-fixed{position: fixed;right: 20px;bottom: 20px;}

/* LNB */
#lnb .lnb_subMenu .current_menu {color: #FFC600;}
#lnb .lnb_subMenu .current_page {text-decoration: underline;}

.clearfix:after {content:'';display: block;clear: both;}