/* Common */
.container {width: 940px;margin: 0 auto;}
#main, body {background-color: #FFF !important;}

/* Subpage Navi */
#lnb .lnb_subMenu .current_menu {color: #FFC600;}
#lnb .lnb_subMenu .current_page {text-decoration: underline;}

/* Search */
.search_wrap {padding: 60px 0 40px;background: #f8f8f8;}
.search_wrap .search {display: flex;justify-content: space-between;position: relative;margin-bottom: 40px;}
.search_wrap .search h3 {line-height: 46px;font-weight: 700;font-size: 24px;}
.search select, .search input {box-sizing:border-box;height: 46px;border: 2px solid #BBB;background: #FFF;font-size: 16px;}
.search select {width: 160px;}
.search input {width: 480px;padding-left: 10px;}
.search input::placeholder {font-size: 16px;}
.search .search_btn {position: absolute;right: 0;width: 46px;height: 46px;background-image: url(../images/search_btn.svg);background-size: 32px auto;background-repeat: no-repeat;background-position: center;cursor: pointer;}

.search_wrap .faq_tab ul {display: flex;flex-flow:row wrap;justify-content: space-between;}
.search_wrap .faq_tab ul li a {display: flex;justify-content:center;align-items:center;box-sizing:border-box;width: 180px;height: 70px;margin-bottom: 10px;background: #FFF;text-align: center;font-weight: 600;color: #888;}
/* FAQ탭메뉴 클릭 이벤트 */
.search_wrap .faq_tab ul li a.on {background-color:#FFC600;color: #000;}
.search_wrap .faq_tab ul li a:not(.on):hover {border: 1px solid #ffc600;text-decoration: underline;color: #000;}

/* 고객센터 게시판 */
.search_info {padding: 40px 0 100px;}
.search_info h3 {margin-bottom: 14px;font-size: 24px;font-weight: 600;}
.search_info h3 span {color: #ff562f;}
.search_info h3.search_result {display: none;}

/* 게시판 탭메뉴 */
.board_tab_menu {display: none;}
.board_tab_depth1 ul {display: flex;margin-bottom: 20px;}
.board_tab_depth1 ul>li>a {display: block;box-sizing:border-box;padding: 10px 20px;border: 1px solid #DDD;background: #f8f8f8;font-size: 14px;}
.board_tab_depth1 ul>li:first-child>a {border: 1px solid #FFC600;}
.board_tab_depth1 ul:nth-child(n+2) {display: none;}

.board_tab_depth2 ul {display: flex;margin-left: 10px;}
.board_tab_depth2 ul li a {display: block;margin: 0 20px 40px 0;font-size: 14px;}
.board_tab_depth2 ul>li:first-child>a {text-decoration: underline;color: #FFC600;}
.board_tab_depth2 ul:nth-child(n+2) {display: none;}

.search_board_wrap {border-top: 2px solid #434343;}
.search_total {display: none;padding-left: 30px;border-bottom: 1px solid #000;}
.search_total p {line-height: 60px;}

.search_board li {border-bottom: 1px solid #dedede;}
.search_board li.no_data {display: none;padding: 50px 0;text-align: center;}
.search_board li.no_data img {width: 50px;margin-bottom: 20px;}
.search_board li.no_data span {display: block;text-align: center;}
.search_board li p {display: none;padding: 30px 50px;border-top: 1px solid #dedede;background-color: #f8f8f8;line-height: 18px;font-size: 14px;cursor:pointer;color: #777;}
.search_board li a {display: flex;justify-content:space-between;align-items:center;height: 60px;padding: 0 30px;}
.search_board li a span {display: block;width: 26px;height: 26px;background-image:url(../images/board_chevron_down.svg);background-size: 40px auto;background-repeat: no-repeat;background-position: center;font-size: 14px;}
.search_board li.on a span {transform: rotate(180deg);}
.search_board li.on a {text-decoration: underline;color: #FAA819;}

.pager {display: none;margin-top: 30px;justify-content: center;}
.pager a, .pager span {display: flex;justify-content:center;align-items:center;box-sizing:border-box;width: 34px;height: 34px;margin-right: 5px;cursor: pointer;font-weight: 400;}
.pager a {border: 1px solid #7d7d7d;}
.pager span {border: 1px solid #dbdbdb;background-color: #f8f8f8;color: #464646;}
.pager .on {border: none;background-color: #FAA819;color: #FFF;}
.pager .Next {background:url(../images/board_pager_chevron.svg) no-repeat center;}
.pager .endNext {background:url(../images/board_pager_chevron_double.svg) no-repeat center;}
.pager .Prev {background:url(../images/board_pager_chevron.svg) no-repeat center;transform:rotate(180deg)}
.pager .endPrev {background:url(../images/board_pager_chevron_double.svg) no-repeat center;transform:rotate(180deg)}

.pager li:last-child {margin-right: 0;}

.search_info .question_box {display: flex;justify-content:space-between;margin-top: 100px;border: 2px solid #888;}
.search_info .question_box p {display: flex;align-items:center;font-weight: 600;color: #888;}
.search_info .question_box p:before {content:'';display: block;width: 24px;height: 24px;margin:0 10px 0 20px;background-image: url(../images/warning_black.svg);background-size: 24px auto;background-repeat: no-repeat;}
.search_info .question_box a {display: flex;justify-content:center;align-items:center;width: 150px;height: 60px;background:#f8f8f8;font-weight: 600;color: #888;}