.txt_red {color: #ff522a;}
table {width: 100%;border-collapse: collapse;}
html, body {overflow: hidden;}

.wrapper {box-sizing:border-box;width: 600px;padding: 40px 40px 0;}
.id_list {width: 520px;}
.id_list strong {display: block;margin-bottom: 30px;font-size: 18px;text-align: center;}
.id_list p {line-height: 16px;text-align: center;color: #888;}
.id_list table {margin: 40px 0 70px;}
.id_list th {padding: 20px 0;border-top: 2px solid #000;border-bottom: 1px solid #000;}
.id_list td {padding: 10px 0;text-align: center;border-bottom: 1px solid #dfdfdf;font-size: 15px;font-weight: 400;}
.id_list td a {display: inline-block;background-color: #5f6066;width: 100px;line-height: 40px;text-align: center;color: #FFF;}
.id_list .btns {display: flex;justify-content: space-between;}
.id_list .btns a {display: block;width: 250px;background-color: #ffc600;line-height: 50px;text-align: center;font-size: 18px;}
.id_list .btns a:nth-child(2) {background-color: #dedede;}