#main, body {background-color: #f7f7f7 !important;}
.blind {display: none;}
.wrapper {padding: 50px 0 120px;background-color: #f7f7f7;}
.join_wrap h1{margin-bottom: 60px;text-align: center;}
.join_wrap h1 a {display: inline-block;width: 290px;height: 40px;background-image: url(../images/header_logo.png);background-repeat: no-repeat;background-size: contain;vertical-align: top;}
.join {box-sizing:border-box;width: 600px;margin: 0 auto 30px;padding: 30px 40px;border: 1px solid #ededed;background-color: #fff;}
.join>p {font-size: 24px;text-align: center;}
.join>p span {color: #ffa819;}

.join_step {position: relative;padding: 30px 0;}
.join_step ol {display: flex;justify-content: space-between;}
.join_step li {display: flex;flex-direction: column;align-items: center;color: #888;}
.join_step li span {display: block;position: relative;width: 40px;height: 40px;margin-bottom: 14px;border-radius:50%;background-color: #DDD;}
.join_step li.on {color: #000;}
.join_step li.on span {background-color: #ffc600;}
.join_step li span:before {content:'';display: block;position: absolute;top: 50%;left: 50%;transform:translate(-50%, -50%);width: 20px;height: 20px;border-radius:50%;background-color: #fff;}
.join_step .step_bar {display: block;position: absolute;width: 480px;height: 10px;left: 50%;top: 45px;transform:translateX(-50%);background-color: #EEE;}

.join_wrap>span {display: block;text-align: center;font-size: 12px;color: #666;}