/* Common */
.container {width: 940px;margin: 0 auto;}
#main, body {background-color: #FFF !important;}
.wrapper .content span, .wrapper input, .content label {line-height: 46px;}
.wrapper input::placeholder {color: #999;}
input[type="file"] {position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;}

/* Main */
.container h2 {margin-bottom: 20px;font-size: 32px;text-align: center;}
.wrapper {padding: 60px 0 130px;}
form>p {text-align: center;line-height: 20px;}
form>p span {font-size: 18px;font-weight: 600;}
form>p .user_name {font-size: 18px;vertical-align: baseline;color: #FAA819;}
.wrapper .content_wrap {margin-bottom: 60px;}
.wrapper .content_wrap:nth-of-type(1) {margin-top: 40px;}
.wrapper .content_wrap:nth-child(6) {margin-bottom: 30px;}
.wrapper .content {margin-top: 20px;border-top: 2px solid #444;}
.wrapper h3 {display: flex;justify-content: space-between;font-size: 22px;}
.wrapper h3 span {font-size: 16px;color: #FF522A;}

.wrapper .content_inner {border-bottom: 1px solid #dedede;}

.wrapper label[class$="_tit"], .wrapper span[class$="_tit"] {padding: 0 20px;color: #FF522A;}
/* .wrapper .content_wrap:first-of-type .select_box {width: 460px;} */
.wrapper .select_box {display: block;box-sizing:border-box;background-color: #f8f8f8;}
.wrapper .select_box span:nth-child(n+2) {color: #999;}
.wrapper .select_box .select_ico {display: block;position: absolute;right: 20px;top: 50%;transform:translateY(-50%);width: 20px;height: 20px;background-image: url(../images/select_icon_down.svg);background-size: 11px auto;background-position: center;background-repeat: no-repeat;}

.wrapper .select_box.on {background-color: #FFF;}
.wrapper .select_box.on .select_ico {background-image: url(../images/select_icon_up.svg);}

.wrapper div[class$="_area"] {margin: 15px 0;border: 1px solid #BBB;}
.wrapper .select_area {position: relative;}
.wrapper .opt_list {display: none;overflow: auto;position: absolute;top: 46px;left: -1px;right: -1px;height: 180px;border: 1px solid #BBB;border-top:none;background: #FFF;z-index: 99;}
.wrapper .opt_list li a {display: block;padding-left: 20px;line-height: 36px;}
.wrapper .opt_list li:first-child a {background: #E5E5E5;}

.wrapper textarea {width: 829px;height: 120px;padding: 11px 0;line-height: 24px;resize: none;color: #333;}

.wrapper .content_wrap:nth-of-type(1) .content .input_area {display: flex;}
.wrapper .content_wrap:nth-of-type(1) .content .input_area input {flex-grow:1;}

/* 신고내용 */
.content_wrap:first-of-type .select_box span {padding-left: 15px;}

/* 개인정보 수집이용 동의 */
.wrapper .content_wrap:nth-of-type(2) .content .input_area:first-of-type span.input_tit {padding: 0 10px;}
.wrapper .content_wrap:nth-of-type(2) .content .input_area:first-of-type input {width: 230px;}
.wrapper .content_wrap:nth-of-type(2) .content .input_area:nth-of-type(2) input {box-sizing:border-box;width: 300px;padding-left: 20px;}
.wrapper .content_wrap:nth-of-type(2) .content .select_area {width: 180px;}
.wrapper .content_wrap:nth-of-type(2) .content .selected_opt {padding-left: 20px;}
.wrapper .content_wrap:nth-of-type(2) .content_inner {display: block;width: 100%;}
.wrapper .content_wrap:nth-of-type(2) .content_inner>span {display: flex;align-items:center;font-size: 14px;}
.wrapper .content_wrap:nth-of-type(2) .info_agree_cont {display: none;padding: 10px 14px;margin-bottom: 15px;border: 1px solid #BBB;background-color: #f8f8f8;}
.wrapper .content_wrap:nth-of-type(2) .info_agree_cont p:first-child {margin-bottom: 14px;color: #333;}
.wrapper .content_wrap:nth-of-type(2) .info_agree_cont p:last-child {line-height: 20px;font-size: 15px;color: #898989;}

/* 추가 정보 동의 */
.wrapper .content_wrap:nth-of-type(3) .content_inner {flex-direction:column;}
.wrapper .content_wrap:nth-of-type(3) input {padding-left: 10px;}
.wrapper .content_wrap:nth-of-type(3) .input_area {margin-top: 0;margin-right: 10px;}
.wrapper .check_box {display: flex;justify-content:flex-start;align-items:center;height: 46px;padding-left: 4px;}
.wrapper input[type="checkbox"] {width: 24px;height: 24px;margin-right: 0 !important;background-image: url(../images/checkbox_off.svg);background-size: 24px auto;}
.check_box input[checked="checked"] {background-image: url(../images/checkbox_on.svg);}
.wrapper .check_box label {margin-right: 30px;}
.wrapper .content_wrap:nth-of-type(3) .addInfo_box {display: flex;}
.wrapper .content_wrap:nth-of-type(3) .addInfo_box input {width: 500px;}
.wrapper .content_wrap:nth-of-type(3) .addInfo_box a {display: block;width: 165px;height: 48px;line-height: 48px;background-color: #5f6066;text-align: center;color: #FFF;}
.wrapper .content_wrap:nth-of-type(3) input[type="text"] {background-color: #f7f7f7;}

/* 첨부파일 */
.wrapper .content_wrap:nth-of-type(4) div[class$="_area"] {width: 661px;}
.wrapper .content_wrap:nth-of-type(4) .content_inner {display: block;}
.wrapper .content_wrap:nth-of-type(4) input[class^="upload"] {width: 550px;}
.wrapper .content_wrap:nth-of-type(4) div[class^="file_"] {display: flex;}
.wrapper .content_wrap:nth-of-type(4) .fileList_area {margin-top: 0;}
.wrapper .content_wrap:nth-of-type(4) .addFile_btns>* {display: inline-block;width: 128px;margin: 15px 0 15px 10px;line-height: 48px;text-align: center;}
.wrapper .content_wrap:nth-of-type(4) .addFile_btns label {background: #DCDCDC;cursor: pointer;}
.wrapper .content_wrap:nth-of-type(4) .addFile_btns button {background: #5F6066;color: #FFF;}
.wrapper .content_wrap:nth-of-type(4) .file_remove button {display: block;width: 128px;margin: 0 0 15px 10px;background: #DCDCDC;line-height: 48px;text-align: center;}

.wrapper .form_btns {text-align: center;}
.wrapper .form_btns button {display: inline-block;width: 200px;height: 60px;font-size: 20px;}
.wrapper .form_btns button:first-child {background-color: #FFBA00;margin-right: 12px;}
.wrapper .form_btns button:last-child {background-color: #DCDCDC;}

/* content_box */
.content_box {margin-bottom: 50px;}
.content_box .cont_info {padding: 30px 30px 0;border: 3px solid #DDD;}
.content_box .cont_info b {display: block;margin-bottom: 20px;font-size: 20px;}
.content_box .cont_info b:before {content:'';display: inline-block;width: 24px;height: 24px;margin-right: 10px;background-image: url(../images/warning_red.svg);background-size: 24px auto;vertical-align: -6px;}
.content_box .cont_info li {line-height: 28px;letter-spacing: -.01em;color: #626262;}
.content_box .cont_info>ul>li:last-child {margin-bottom: 30px;}
.content_box .cont_info>ul>li:before {content:'';display: inline-block;width: 4px;height: 4px;margin-right: 4px;border-radius:50%;background-color: #CCC;vertical-align: 4px;}
.content_box .cont_info>ul ul {padding-left: 40px;}
.content_box .cont_info>ul ul li {color: #898989;}
.content_box .cont_info span {color:#FF522A;}
.content_box .cont_info a {display: block;width: 300px;margin: 0 auto;background: #FFBA00;line-height: 60px;text-align: center;font-size: 18px;}
