h2 {margin-bottom: 30px;text-align: center;font-size: 32px;}
ol {counter-reset: my_counter 0;}
table {width: 100%;margin: 10px 0;border-collapse: collapse;}
th, td {border: 1px solid #d2d2d2;font-size: 14px;text-align: center;}
th {height: 33px;background-color: #f8f8f8;}
td {padding: 12px 10px;line-height: 20px;color:#888;}
.mb10 {margin-bottom: 10px;}

.wrapper {margin-bottom: 140px;}
.policy_wrap {padding-top: 60px;}
span.txt_red {font-weight: 700;color: #ff522a;}

.date_select {display: flex;justify-content:space-between;align-items:center;height: 106px;margin-bottom: 60px;padding: 0 30px;background-color: #f8f8f8;}
.date_select>p {font-weight: 400;}
.date_select .prev_policy {display: flex;align-items: center;}
.date_select .prev_policy a {display: block;position: relative;box-sizing:border-box;width: 230px;height: 46px;margin: 0 10px;border: 1px solid #AAA;}
.date_select .prev_policy a.on {background-color: #fff;}
.date_select .prev_policy a:after{content:'';display: block;position: absolute;right: 14px;top: 50%;transform:translateY(-50%);width: 12px;height: 7px;background-image: url(../images/chevron_triangle_down.svg);background-repeat: no-repeat;}
.date_select .prev_policy a.on:after {background-image: url(../images/chevron_triangle_up.svg);}
.date_select .prev_policy a span {margin-left: 14px;line-height: 46px;font-weight: 400;}
.date_select .prev_policy ul.policy_date_list {display: none;position: absolute;left: -11px;top:44px;box-sizing:border-box;width: 230px;margin: 0 10px;border: 1px solid #AAA;border-top: none;cursor: pointer;z-index: 3;}
.date_select .prev_policy li {padding: 0 14px;background-color: #fff;line-height: 36px;font-weight: 400;}
.date_select .prev_policy .selected_date {background-color: #e5e5e5;}
.date_select .prev_policy button {display: block;width: 100px;height: 46px;background-color: #DCDCDC;cursor: pointer;}

.policy_anchor {margin-bottom: 34px;padding: 34px;border: 3px solid #DDD;}
.policy_anchor ol {display: flex;flex-flow: column wrap;height: 100px;}
.policy_anchor li:before {counter-increment:my_counter 1;content:"제 " counter(my_counter) "조";font-weight: 400;font-size: 14px;color: #555;}
.policy_anchor li {width: 430px;line-height: 24px;}
.policy_anchor li a:hover {text-decoration: underline;}
.policy_anchor a {margin-left: 20px;font-size: 14px;vertical-align: baseline;}


.policy strong {display: inline-block;margin-bottom: 8px;font-size: 20px;vertical-align: baseline;}
.policy_depth1 p, .policy_depth2 li {line-height: 22px;font-weight: 400;font-size: 14px;}

.policy_depth1>li {margin-bottom: 30px;font-size: 20px;}
.policy_depth1>li:last-child {margin-bottom: 0;}

ol>li:before {counter-increment: my_counter 1;}
.policy_depth1>li:before {content:'제 'counter(my_counter) '조 ';}
.policy_depth2>li:before {content:counter(my_counter) '. ';}
.policy_depth3>li:before {content:counter(my_counter) ') ';}

.policy_depth3>li {margin-left: 16px;}
