table {width: 100%;border-collapse: collapse;}

.content_wrap {position: relative;padding-top: 60px;margin-bottom: 120px;}
.content_wrap>h2 {margin-bottom: 30px;font-size: 32px;text-align: center;}
.content_wrap .content {border-top: 2px solid #000;}

.tab_menu_wrap {display: flex;justify-content:space-between;margin-bottom: 30px;padding-top: 60px;}
.tab_menu_wrap ul {display: flex;}
.tab_menu_wrap li a {display: block;box-sizing:border-box;width: 180px;border: 1px solid #dbdbdb;border-right: none;background-color: #f8f8f8;line-height: 60px;text-align: center;font-size: 18px;}
.tab_menu_wrap li:last-child a {border-right: 1px solid #dbdbdb;}
.tab_menu_wrap li.on a {border-bottom: none;background-color: #fff;}
.tab_menu_wrap button {width: 170px;line-height: 60px;font-size: 18px;background-color: #ffc600;}

.content strong {display: block;margin-bottom: 16px;font-size: 20px;}
.content strong:before {content:'';display: inline-block;width: 26px;height: 26px;margin-right: 4px;background-image: url(../images/chevron_right_circle_icon.svg);background-size: 26px auto;vertical-align: -7px;}

.config {margin-bottom: 50px;padding: 0 30px;border: 3px solid #dbdbdb;}
.config>.input_area {padding: 30px 0;border-bottom: 1px solid #dfdfdf;}
.config .input_area:last-child {border-bottom: none;}
.config .input_area input {width: 24px;height: 24px;margin-right: 6px;background-size: 24px auto;background-repeat: no-repeat;background-position: center;vertical-align: -7px;}
.config>.input_area>input {background-image: url(../images/check_circle_icon.svg);}
.config>.input_area>input[checked="checked"] {background-image: url(../images/checked_circle_icon.svg);}
.config .input_area {line-height: 20px;}

.selected_msg {display: flex;margin-top: 10px;margin-left: 30px;}
.selected_msg input {background-image: url(../images/checkbox_off.svg);}
.selected_msg .input_area {margin-right: 30px;}
.selected_msg input[checked="checked"] {background-image: url(../images/checkbox_on.svg);}

.config_btns {display: flex;justify-content: center;}
.config_btns button {display: block;width: 200px;line-height: 60px;font-size: 18px;}
.config_btns button:first-child {margin-right: 20px;background-color: #ffc600;}
.config_btns button:nth-child(2) {background-color: #dcdcdc;}