body {overflow: hidden;}
table {width: 100%;border-collapse: collapse;}
.msg_wrap {width: 644px;padding:40px 0;}
.msg_tit {margin-bottom: 30px;text-align: center;font-size: 26px;}
.msg_inner {width: 564px;margin: 0 auto;}
.msg_inner tr:first-child th, .msg_inner tr:first-child td {border-top: 2px solid #000;}
.msg_inner tr:last-child th, .msg_inner tr:last-child td {border-bottom: 1px solid #000;}
.msg_inner th, .msg_inner td {padding: 15px 0;}
.msg_inner th {background-color: #f7f7f7;}
.msg_inner td {padding-left: 20px;font-weight: 400;}
.msg_inner input {padding-left: 4px;}
.msg_box {margin-bottom: 20px;padding: 10px 0;border-bottom: 1px solid #000;}
.msg_txt {overflow: auto;height: 180px;}
.msg_box p {line-height: 24px;}
.alert_box {margin-bottom: 20px;padding: 20px 30px 10px;border: 3px solid #dfdfdf;}
.alert_box strong {font-size: 20px;color:#ff522a;vertical-align: 5px;}
.alert_box p:first-child {margin-bottom: 10px;}
.alert_box p:first-child:before {content:'';display: inline-block;width: 24px;height: 24px;margin-right: 6px;background-image: url(../images/warning_red.svg);background-repeat: no-repeat;background-size: contain;}
.alert_box p:nth-child(2) {line-height: 20px;color: #888;}
.alert_box p:nth-child(2):before {content:'';display: inline-block;width: 4px;height: 4px;margin-right: 4px;border-radius:50%;background-color: #dfdfdf;vertical-align: 4px;}
.btns {display: flex;justify-content: space-between;}
.btns a {display: block;width: 250px;line-height: 56px;font-size: 18px;text-align: center;}
.btns a:first-child {background-color: #ffc600;}
.btns a:nth-child(2) {background-color: #dcdcdc;}

.sent_msg_btm {display: flex;justify-content: center;}
.sent_msg_btm a:first-child {display: block;width: 250px;line-height: 56px;font-size: 18px;text-align: center;background-color: #dcdcdc;}