/* Common */
input::placeholder {color: #AAA;}
table {width: 100%;border-collapse: collapse;}
th, td {border-bottom: 1px solid #d2d2d2;line-height: 66px;}
th {position: relative;padding-left: 40px;background-color: #f8f8f8;text-align: left;}
td {padding: 0 30px;}

.container {margin: 0 auto;}
.psr {position: relative;}
.td_align_row {display: flex;justify-content: space-between;align-items: center;}
td a {display: flex;justify-content: center;align-items: center;}
.txt_red {color: #ff522a;position: absolute;left: 24px;}
.txt_gray {color: #888;}

/* LNB */
#lnb .lnb_subMenu .current_menu {color: #FFC600;}
#lnb .lnb_subMenu .current_page {text-decoration: underline;}

/* Main */
.content_wrap {padding-top: 60px;margin-bottom: 120px;}
.content_wrap .content {margin-bottom: 34px;}
.content_wrap>h2 {margin-bottom: 30px;font-size: 32px;text-align: center;}
.content_wrap>p {margin-bottom: 30px;text-align: center;color: #333;}
.content_wrap h3 {font-size: 22px;}
.content_wrap .table_wrap {margin-top: 14px;border-top: 2px solid #000;}
.content_wrap .table_head {display: flex;justify-content: space-between;}
.content_wrap .table_head span {color:#ff522a;}

.content td a {position: absolute;top:11px;right: 30px;width: 140px;height: 46px;background-color: #5f6066;text-align: center;color:#fff;}
.content:nth-of-type(2) td a {width: 100px;}

.content .td_inner {display: flex;}
.content .td_inner span {width: 90px;}

.content:nth-of-type(2) .psr {padding: 10px 0 10px 30px;}
.content .table_inner p {margin-bottom: 18px;font-size: 14px;color: #237fe5;}
.content .table_inner span {display: block;}
.content .table_inner>* {margin: 10px 0;}

.content_wrap .btns {display: flex;justify-content: center;margin-top: 30px;}
.content_wrap .btns button, .content_wrap .btns a {display: flex;justify-content:center;align-items:center;width: 200px;height: 60px;font-size: 20px;}
.content_wrap .btns button {margin-right: 20px;background-color: #ffc600;}
.content_wrap .btns a {background-color: #dcdcdc;}

.content .td_inner span {line-height: 24px;}
.content .td_inner .input_area_wrap {display: flex;}
.content .td_inner .input_area_wrap input {width: 24px;height: 24px;background-image:url(../images/check_circle_icon.svg);background-size: 24px auto;background-repeat: no-repeat;vertical-align: middle;}
.content .td_inner .input_area_wrap input[checked="checked"] {background-image: url(../images/checked_circle_icon.svg);}

.content .td_inner .input_area_wrap label:first-of-type {margin-right: 20px;}

.content .table_inner input {width: 24px;height: 24px;background-image: url(../images/checkbox_off.svg);vertical-align: middle;background-size: 24px auto;background-repeat: no-repeat;}
.content .table_inner input[checked="checked"] {background-image: url(../images/checkbox_on.svg);}