input::placeholder {color: #AAA;}

.container {margin: 0 auto;}

#gnb .gnb_subMenu .current_menu {color: #FFC600;}
#gnb .gnb_subMenu .current_page {text-decoration: underline;}

.content_wrap {padding-top: 60px;margin-bottom: 200px;}
.content_wrap>h2 {margin-bottom: 20px;font-size: 32px;text-align: center;}
.content_wrap>p {margin-bottom: 30px;text-align: center;color: #333;}
.content_wrap .content:first-of-type {border-top: 2px solid #000;}

.content_wrap div[class$="_area"] {margin-bottom: 15px;border: 1px solid #BBB;}
.content_inner {width: 520px;padding-top: 40px;margin: 0 auto;}
.content_wrap .input_area label {margin: 0 20px;line-height: 46px;}
.content_wrap .input_area input {line-height: 46px;}
.content_wrap .btns {display:flex;justify-content:space-between;margin-top: 50px;}
.content_wrap .btns a {display: flex;justify-content:center;align-items:center;width: 250px;height: 60px;text-align: center;font-size: 20px;}
.content_wrap .btns a:first-child {background-color: #ffc600;}
.content_wrap .btns a:last-child {background-color: #dcdcdc;}
