table {width: 100%;border-collapse: collapse;}
th, td {border: 1px solid #DDD;}

#lnb .lnb_subMenu .current_menu {color: #FFC600;}
#lnb .lnb_subMenu .current_page {text-decoration: underline;}

.wrapper {box-sizing:border-box;min-width:760px;max-width:1024px;padding: 0 40px;}
.content_wrap {padding-top: 40px;margin-bottom: 120px;}
.content_wrap p {text-align: center;font-size: 24px;color: #888;}
.content_wrap p strong {font-size: 28px;color: #000;}

.secondPw_set {display: flex;flex-direction: column;align-items: center;}
.secondPw_set img[alt*="자물쇠"]{display: block;margin: 40px 0;width: 140px;}
.secondPw_set strong {font-size: 26px;}
.secondPw_set p {margin-bottom: 60px;}

.content_wrap .cont_info {padding: 30px;border: 3px solid #DDD;}
.content_wrap .cont_info b {display: block;margin-bottom: 10px;font-size: 20px;color: #FF522A;}
.content_wrap .cont_info b:before {content:'';display: inline-block;width: 24px;height: 24px;margin-right: 10px;background-image: url(../images/warning_red.svg);background-size: 24px auto;vertical-align: -5px;}
.content_wrap .cont_info li {line-height: 28px;letter-spacing: -.01em;color: #888;}
.content_wrap .cont_info>ul>li:before {content:'';display: inline-block;width: 4px;height: 4px;margin-right: 4px;border-radius:50%;background-color: #CCC;vertical-align: 4px;}
.content_wrap .cont_info>ul ul {padding-left: 40px;}
.content_wrap .cont_info>ul ul li {color: #888;}
.content_wrap .cont_info ul a {color: #000;text-decoration: underline;vertical-align: baseline;}
.content_wrap .cont_info span {color: #FF522A;}

.content {margin-bottom: 40px;}

.close_btn {display: block;background-color: #FFC600;line-height: 50px;font-size: 18px;text-align: center;}