table {width: 100%;border-collapse: collapse;}
.txt_red {color:#ff522a;}

.content_wrap {padding-top: 60px;margin-bottom: 120px;}
.content_wrap>h2 {margin-bottom: 30px;font-size: 32px;text-align: center;}
.content_wrap h3 {margin-bottom: 20px;font-size: 26px;}

.tab_menu {margin-bottom: 30px;counter-reset: my_counter 0;}
.tab_menu li {display: flex;justify-content:center;align-items:center;float: left;box-sizing:border-box;width: 33.33333333%;height: 60px;border: 1px solid #dbdbdb;border-right: none;background-color: #f8f8f8;text-align: center;font-size: 18px;}
.tab_menu li:last-child {border-right: 1px solid #dfdfdf;}
.tab_menu li.on {border: 1px solid #5f6066;background-color: #5f6066;color: #fff;}
.tab_menu li:before {content:counter(my_counter) '.';display: inline-block;counter-increment: my_counter 1;padding-top: 2px;margin-right: 6px;font-weight: 400;font-size: 20px;}

.tab_contents strong {display: block;margin-bottom: 10px;font-size: 20px;}
.tab_contents strong:before {content:'';display: inline-block;width: 26px;height: 26px;margin-right: 4px;background-image: url(../images/chevron_right_circle_icon.svg);background-size: 26px auto;vertical-align: -7px;}
.content>p {margin-bottom: 30px;line-height: 20px;}

.tab_contents .content {display: none;}
.tab_contents .content:first-child {display: block;}

/* 정액제 서비스 확인 */
.content:first-child table {margin-bottom: 30px;}
.content:first-child th, .content_wrap td {padding: 20px 0;}
.content:first-child th {border-top: 2px solid #000;border-bottom: 1px solid #000;color: #464646;}
.content:first-child td {border-bottom: 1px solid #e1e3e6;text-align: center;font-weight: 400;font-size: 15px;color:#707070;}

.no_data td {display: table-cell;padding: 50px 0;}
.no_data p {font-size: inherit;}
.no_data p:first-child {margin-bottom: 60px;}

.btns {display: flex;justify-content:center;margin:50px 0 120px;}
.btns button, .btns a {display: block;width: 200px;line-height: 60px;font-size: 20px;text-align: center;}
.btns button {background-color: #ffc600;margin-right: 20px;}
.btns a {margin-right: 20px;background-color: #dcdcdc;}

/* 캐쉬정보 확인 */
.content .current_cash {margin-bottom: 30px;border-top: 2px solid #000;border-bottom: 1px solid #000;}
.content .current_cash p {display: inline-block;line-height: 80px;text-align: center;font-size: 23px;vertical-align: top;}
.content .current_cash p:first-child {width: 230px;background-color: #efefef;}
.content .current_cash p:nth-child(2) {box-sizing:border-box;width: 710px;padding-right: 40px;text-align: right;}
.content .current_cash .txt_red {font-size: 32px;font-weight: 400;vertical-align: -3px;}

/* 본인 확인 */
.content:nth-child(3) h3 {text-align: center;}
.content:nth-child(3) p {margin-bottom: 20px;font-size: 20px;text-align: center;}
.user_check {width: 520px;margin: 0 auto 100px;}
.content:nth-child(3) p:before {content:'';display: inline-block;width: 24px;height: 24px;margin-right: 6px;background-image: url(../images/warning.svg);background-size: 24px auto;background-position: center;vertical-align: -6px}
.input_area {margin-bottom: 10px;border: 1px solid #AAA;}
.input_area label, .input_area input {line-height: 46px;}
.input_area label {display: inline-block;width: 80px;margin-left: 20px;vertical-align: top;}
.content:nth-child(3) th {border: 2px solid #BBB;background-color: #f8f8f8;}
.content:nth-child(3) td {border: 2px solid #dcdcdc;}
.content:nth-child(3) th, .content:nth-child(3) td {padding: 15px 0;border-left: none;}
.content:nth-child(3) th:last-child, .content:nth-child(3) td:last-child {border-right: none;}
.content:nth-child(3) td:last-child {padding-left: 20px;}
.content:nth-child(3) td:first-child {text-align: center;}
.content:nth-child(3) table input {width: 24px;height: 24px;text-align: center;background-image: url(../images/checkbox_off.svg);background-size: 28px auto;background-repeat: no-repeat;background-position: center;}
.content:nth-child(3) table input[checked="checked"] {background-image: url(../images/checkbox_on.svg);}