h2 {margin-bottom: 30px;text-align: center;font-size: 32px;}
ol {counter-reset: my_counter 0;}
table {width: 100%;margin: 10px 0;border-collapse: collapse;}
th, td {border: 1px solid #d2d2d2;font-size: 14px;text-align: center;}
th {height: 33px;background-color: #f8f8f8;}
td {padding: 12px 10px;line-height: 20px;color:#888;}
.mb10 {margin-bottom: 10px;}
.txt_black {font-size: 14px;}


.wrapper {margin-bottom: 140px;}
.policy_wrap {padding-top: 60px;}
.upp_policy {display: none;}

.upp_area {margin-bottom: 60px;background-color: #f8f8f8;}
.inner {display: flex;justify-content:space-between;align-items:center;height: 106px;}
.date_select, .tabmenu {padding: 0 30px;}

.tabmenu p {font-size: 20px;}
.tabmenu .upp_btns {display: flex;}
.tabmenu .upp_btns a {display: flex;justify-content:center;align-items:center;width: 140px;background-color: #dcdcdc;height: 44px;text-align: center;}
.tabmenu .upp_btns a.on {background-color: #ffba00;}
.tabmenu .upp_btns a:hover {box-shadow:0 0 4px 1px rgba(0,0,0,0.2);}

.date_select {display: none;}
.date_select .inner {border-top: 1px solid #dfdfdf;}
.date_select .inner p b {font-weight: 600;color: #ff522a;}
.date_select .inner>p {font-weight: 400;}
.date_select .inner .prev_policy {display: flex;align-items: center;}
.date_select .inner .prev_policy a {display: block;position: relative;box-sizing:border-box;width: 230px;height: 46px;margin: 0 10px;border: 1px solid #AAA;}
.date_select .inner .prev_policy a.on {background-color: #fff;}
.date_select .inner .prev_policy a:after{content:'';display: block;position: absolute;right: 14px;top: 50%;transform:translateY(-50%);width: 12px;height: 7px;background-image: url(../images/chevron_triangle_down.svg);background-repeat: no-repeat;}
.date_select .inner .prev_policy a.on:after {background-image: url(../images/chevron_triangle_up.svg);}
.date_select .inner .prev_policy a span {margin-left: 14px;line-height: 46px;font-weight: 400;}
.date_select .inner .prev_policy ul.policy_date_list {display: none;position: absolute;left: -11px;top:44px;box-sizing:border-box;width: 230px;margin: 0 10px;border: 1px solid #AAA;border-top: none;cursor: pointer;z-index: 3;}
.date_select .inner .prev_policy li {padding: 0 14px;background-color: #fff;line-height: 36px;font-weight: 400;}
.date_select .inner .prev_policy .selected_date {background-color: #e5e5e5;}
.date_select .inner .prev_policy button {display: block;width: 100px;height: 46px;background-color: #DCDCDC;cursor: pointer;}

.upp_guide li:before {content:'';display: inline-block;width: 26px;height: 26px;background-image: url(../images/chevron_right_circle_icon.svg);background-size: 26px auto;background-repeat: no-repeat;vertical-align: -2px;}
.upp_guide strong {display: inline-block;margin-bottom: 14px;font-size: 20px;}
.upp_guide p {line-height: 20px;font-size: 14px;color: #464646;}
.upp_guide .upp_policy_btn {display: flex;justify-content:center;align-items:center;width: 250px;height: 60px;margin-top: 10px;background-color: #5f6066;color: #FFF;}
.upp_guide li {margin-bottom: 40px;}
.upp_guide li:last-child {margin-bottom: 0;}

.policy_anchor {margin-bottom: 34px;padding: 34px;border: 3px solid #DDD;}
.policy_anchor ol {display: flex;flex-flow: column wrap;height: 100px;}
.policy_anchor li:before {counter-increment:my_counter 1;content:"제 " counter(my_counter) "조";font-weight: 400;font-size: 14px;color: #555;}
.policy_anchor li {width: 430px;line-height: 24px;}
.policy_anchor li a:hover {text-decoration: underline;}
.policy_anchor a {margin-left: 20px;font-size: 14px;vertical-align: baseline;}


.policy strong {display: inline-block;margin-bottom: 8px;font-size: 20px;vertical-align: baseline;}
.policy_depth1 p, .policy_depth2 li {line-height: 22px;font-weight: 400;font-size: 14px;}

.policy_depth1>li {margin-bottom: 30px;font-size: 20px;}
.policy_depth1>li:last-child {margin-bottom: 0;}

ol>li:before {counter-increment: my_counter 1;}
.policy_depth1>li:before {content:'제 'counter(my_counter) '조 ';}
.policy_depth2>li:before {content:counter(my_counter) '. ';}
.policy_depth3>li:before {content:counter(my_counter) ') ';}

.policy_depth3>li {margin-left: 16px;}
